#!/usr/bin/perl -w

TEMPLATEWARNINGHASH

use strict;
use DBI;
use Getopt::Long;

BEGIN {
	push @INC,"./scripts";
}

use insertQTLDataToSql;

my ($filename, $force, $help, $verbose) = (undef, 0, undef, 0);

unless (GetOptions(
        "filename:s" => \$filename,
	"force" => \$force,
	"f" => \$force,
	"help" => \$help,
	"verbose" => \$verbose
)) {
	print STDERR "Could not parse options: $@\n";
	exit -3;
}
	

if (defined($help)) {
	print <<EOHELP

NAME
	insertQTLDataToSql.pl	- low level upload of single result file

SYNOPSIS

DESCRIPTION
	This script is not meant to be executed by the regular user but
	should be accessed from the wrapping iterateThroughFiles.pl script.
	It takes a single result file and uploads its content to the database.

AUTHOR
	Jan Kolbaum <kolbaum\@inb.uni-luebeck.de>
	Ann-Kristin Grimm
	Steffen Möller

	University of Lübeck, 2008-2009

EOHELP
;
	exit -3;
}

my $dbh = DBI->connect( DATABASECON );
if ($!) {
	print STDERR "Database connection not made: $DBI::errstr";
	exit(-3);
}

my $exitcode = perform($dbh, $filename, $force, $verbose);
exit($exitcode);

