#!/bin/sh

TEMPLATEWARNINGHASH

set -e

dbhost_eqtl=${DBHOSTEQTL:-DATABASEHOSTLOCAL}
dbhost_qtl=${DBHOSTQTL:-DATABASEHOSTLOCAL}
usereqtl=${DBUSEREQTL:-DATABASEEQTLUSER}
userqtl=${DBUSERQTL:-DATABASEQTLUSER}
nameeqtl=${DBNAMEEQTL:-DATABASEEQTLNAME}
nameqtl=${DBNAMEQTL:-DATABASEQTLNAME}
destdir=${DESTDIR:-.}
dbdumpoptions=${DBDUMPOPTIONS:-}

d=$(date +"%Y%m%d")

if [ "-h" = "$1" -o "--help" = "$1" ]; then

: <<=cut

=head1 NAME

database_dump.sh  - download of an expression QTL database into two text files

=head1 SYNOPSIS

database_dump.sh [ --no-data ]

=head1 DESCRIPTION

The script allows for a regular dump of the expression QTL data. It creates two
files, i.e. one for the expression QTL and one or the classical QTL. These can be used
for backups or the transfer of data between installations. 

=head1 OPTIONS

=over 4

=item --no-data

Adds '--no-data' to call to mysqldump, i.e. only the schema is downloaded.

=back

=head1 ENVIRONMENT

For expression QTL determine the following variables:

=over 4

=item DBHOSTEQTL  

sets mysql server from which to dump data, defaults to 'DATABASEHOSTLOCAL'

=item DBUSEREQTL  

sets the mysql user with which to log in, defaults to 'DATABASEEQTLUSER'

=item DBNAMEEQTL  

sets the name of the database that needs to be dumped, defaults to 'DATABASEEQTLNAME'

=item DBDUMPOPTIONS

set if extra parameters should be passed mysqldump .

=item DESTDIR

path to directory into which to write the database dump

=back

For classical QTL substitute EQTL with QTL in the variable names listed above.

=head1 SEE ALSO

=over 4

=item database_upload.sh

script to upload that data that was dumped with this script

=back

=head1 AUTHOR

Steffen ME<ouml>ller <moeller@inb.uni-luebeck.de>

=head1 COPYRIGHT

GPL3+

University of LE<uuml>beck, Germany, 2009

=cut

	pod2man $0 | nroff -man | less
	exit

fi

intern_namesuffix=""

for opt in $*
do
      case $opt in
      "--no-data")
	      echo "Dumping only the schema, no row data."
              dbdumpoptions="$dbdumpoptions --no-data"
	      intern_namesuffix="_schema"
	      ;;
      *)
              echo "Unkonwn option '$opt'."
              exit 1
      esac
done


mysqldump=$(which mysqldump)
if [ -z "$mysqldump" ]; then
	echo "Please install the mysqldump application."
	exit 1
fi

echo -n "Backing up database '$nameeqtl'"

if $mysqldump --create-options -h $dbhost_eqtl -u $usereqtl $nameeqtl $dbdumpoptions | gzip -c9 > $destdir/backup_db_${nameeqtl}_${d}${intern_namesuffix}.sql.gz ; then
	echo " [ok]"
else
	echo " [failed]."
fi

echo -n "Backing up database '$nameqtl'"
if $mysqldump --create-options -h $dbhost_qtl -u $userqtl $nameqtl $dbdumpoptions | gzip -c9 > $destdir/backup_db_${nameqtl}_${d}${intern_namesuffix}.sql.gz ; then
	echo " [ok]"
else
	echo " [failed]"
fi

echo "done."

