<?php

echo "<html><head><title>DB</title></head>\n";
echo "<body>";

# For table "characteristics"

$url = $_GET['url'];
$url .= str_replace(" ","+",$_GET['textarea'])."&output=mini";
if(isset($_GET['significant'])) {
	$url .= "&significant=1";
}
else {
	$url .= "&significant=0";
}
#echo "$url";
$fh = fopen($url,"r");
$line=fgets($fh);
$arr = array();

$link=mysql_connect("DATABASEHOSTLOCAL","DATABASEQTLUSER","");
mysql_select_db("DATABASEEQTLNAME");

$erg = mysql_query("select * from characteristics;");

while($row = mysql_fetch_array($erg))
{
        $termid=$row["term_id"];
        $arr[$termid]["description"] = $row["description"];
        $arr[$termid]["url"] = $row["url"];
}

$fields = preg_split("/\t/",$line);
while(!feof($fh) && strpos($fields[0],'#')!==0) {
        $term_id=$fields[8];
        echo "$term_id";
        $description=$fields[11];
	trim($description);
        echo "$description<br>";
#        $url=$fields[2];
        if(!empty($arr[$term_id])){
                echo "$term_id gibt's schon. Aktualisiere \"Description\".<br>";
        }
        else{
                echo "$term_id noch nicht vorhanden. F&uuml;ge hinzu.<br>";
                mysql_query("insert into characteristics set term_id=\"$term_id\";");
        }
        mysql_query("update characteristics set description=\"$description\" where term_id=\"$term_id\";");
#       mysql_query("update characteristics set url=\"$url\" where term_id=\"$term_id\";");
        $line=fgets($fh);
        $fields = preg_split("/\t/",$line);
}

# For table "group_characteristics"

$groups = mysql_query("select * from group_characteristics;");

$name=$_GET['id'];
$trait_list=str_replace(" ",",",$_GET['textarea']);
echo "$trait_list";
echo "$name";
$group_arr = array();

while($row = mysql_fetch_array($groups))
{
        $id=$row["name"];
	array_push($group_arr, $id);
}

$tmp=array_search($name,$group_arr);
echo "$group_arr[$tmp]";
if(0===FALSE){
	echo "<br>leider ist 0 gleich false...";
}
if(array_search($name,$group_arr)===FALSE){
	mysql_query("insert into group_characteristics set name=\"$name\";");
}

mysql_query("update group_characteristics set trait_list=\"$trait_list\" where name=\"$name\";");

echo "</body>";
echo "</html>";

?>
