<?php

echo "<html><head><title>DB</title></head>\n";
echo "<body>";

$link=mysql_connect("DATABASEHOSTLOCAL","DATABASEQTLUSER","");
mysql_select_db("DATABASEEQTLNAME");

$char = mysql_query("select * from characteristics;");
$groups = mysql_query("select * from groups;");
$group_char = mysql_query("select * from group_characteristics;");

#For table group

$name=$_GET['id'];
$query=$_GET['query'];

if(isset($_GET['significant'])) {
	$significant=1;
}
else {
	$significant=0;
}

$trait_list=str_replace(" ",",",$_GET['textarea']);

$group_arr = array();

while($row = mysql_fetch_array($groups))
{
	$id=$row["name"];
	array_push($group_arr, $id);
}

if(array_search($name,$group_arr)===FALSE){   # if there is NO entry with name=ID yet
	#creating random number for group_id
	srand(microtime()*1000000);
	#$group_id= rand(1,10000000000)*rand(1,10000000000)*rand(1,10000000000)*rand(1,10000000000);
	$group_id= rand(1,10)*rand(1,10);

	mysql_query("insert into groups set name=\"$name\";");
	mysql_query("update groups set group_id=\"$group_id\" where name=\"$name\";");
}
else {
	$group_id=mysql_query("select group_id from groups where name=\"$name\";");
	$group_id=mysql_fetch_array($group_id);
	$group_id=$group_id['group_id'];
	mysql_query("delete from group_characteristics where group_id=\"$group_id\";");
}

mysql_query("update groups set trait_list=\"$trait_list\" where name=\"$name\";");
mysql_query("update groups set query=\"$query\" where name=\"$name\";");
mysql_query("update groups set significant=\"$significant\" where name=\"$name\";");

# For table "characteristics"

$url = $_GET['url'];
$url .= str_replace(" ","+",$_GET['textarea'])."&output=mini";
$url .= "&significant=$significant";

$fh = fopen($url,"r");
$line=fgets($fh);
$arr = array();

while($row = mysql_fetch_array($char))
{
        $termid=$row["term_id"];
        $arr[$termid]["description"] = $row["description"];
        $arr[$termid]["url"] = $row["url"];
}

$fields = preg_split("/\t/",$line);
while(!feof($fh) && strpos($fields[0],'#')!==0) {
        $term_id=$fields[8];
        echo "$term_id";
        $description=$fields[11];
	trim($description);
        echo "$description<br>";
        $pvalue=$fields[2];
	echo "$pvalue";
#        $url=$fields[2];
        if(!empty($arr[$term_id])){
                echo "$term_id gibt's schon. Aktualisiere \"Description\".<br>";
        }
        else{
                echo "$term_id noch nicht vorhanden. F&uuml;ge hinzu.<br>";
                mysql_query("insert into characteristics set term_id=\"$term_id\";");
        }
        mysql_query("update characteristics set description=\"$description\" where term_id=\"$term_id\";");
#       mysql_query("update characteristics set url=\"$url\" where term_id=\"$term_id\";");
	mysql_query("insert into group_characteristics set group_id=\"$group_id\";");
	mysql_query("update group_characteristics set term_id=\"$term_id\" where group_id=\"$group_id\" and term_id<=>NULL;");
	mysql_query("update group_characteristics set pvalue=\"$pvalue\" where group_id=\"$group_id\" and term_id=\"$term_id\";");
        $line=fgets($fh);
        $fields = preg_split("/\t/",$line);
}

# For table "groups"

#mysql_query("update groups set term_id=\"$term_id\" where name=\"$name\";");
echo "done :)";
echo "</body>";
echo "</html>";

?>
