<?php

/*

=head1 NAME

Characterisation

=head1 DESCRIPTION

The documentation still needs to be prepared.

=head1 AUTHORS

Benedikt Bauer <bauer@cls.uni-luebeck.de>

=cut

*/

require_once("header.php");
require_once("func_covariates.php");
require_once("func_selection.php"); // prints part of the HTML for forms

show_small_header("Characterisation Entries",TRUE);

include_once("func_connect.php");

echo "<br>\n";
echo "<table border=\"1\">\n";
echo "<tr>\n";
echo " <th>ID</th>\n";
echo " <th>Term ID</th>\n";
echo " <th>p-value</th>\n";
echo " <th>Term ID Description</th>\n";
echo "</tr>";

$group_id=$_GET['group_id'];

$query = "select group_characteristics_id, g.term_id, pvalue, c.description "
        ."from group_characteristics as g join characteristics as c using(term_id) "
	."where g.group_id=$group_id;";

$group_characteristics = mysql_query($query);

if (empty($group_characteristics)) {
	errorMessage(mysql_error($linkLocal)."</p><p>".$query."</p>");
	mysql_close($linkLocal);
	exit;
}

while($row = mysql_fetch_array($group_characteristics))
{
	$term_id=$row["term_id"];
	$desc = $row["description"];
	echo "<tr>\n";
	echo " <td>".$row["group_characteristics_id"]."</td>\n";
	echo " <td>".$term_id."</td>\n";
	echo " <td>".$row["pvalue"]."</td>\n";
	echo " <td>".$desc."</td>\n";
	echo "<tr>\n";
}

echo "</table>\n";

include("footer.php");

?>
</body>
</html>
