<?php

/*

=head1 NAME

Characterisation

=head1 DESCRIPTION

The documentation still needs to be prepared.

=head1 AUTHORS

Benedikt Bauer <bauer@cls.uni-luebeck.de>

=head1 COPYRIGHT

2009, University of LE<uuml>beck, Germany

=cut

*/

require_once("header.php");
require_once("func_covariates.php");
require_once("func_selection.php"); // prints part of the HTML for forms

show_small_header("Characterisation Entries",TRUE);

require_once("func_connecti.php");

$todo=$_GET["todo"];
$selection=$_GET["selection"];
#print_r($_GET);

if (!empty($selection)) {
	if ($todo=="delete") {
		echo "entering 'delete'";
		$q = "delete from groups "
		    ."where group_id in ('".join("','",$selection)."');";
		$res = mysqli_query($linkLocali,$q);
		if (!$res) echo "Error in query:<br>$q: " . mysqli_error($linkLocali);
		$q = "delete from group_characteristics "
		    ."where group_id in ('".join("','",$selection)."');";
		$res = mysqli_query($linkLocali,$q);
		if (!$res) echo "Error in query:<br>$q: " . mysqli_error($linkLocali);
	}
	elseif ($todo=="Change Group Name") {
		$new_group_name=$_GET["new_group_id"];
		if (empty($new_group_name)) {
			echo "<p>Error: Please enter a new identifier for "
			    ."in the empty field to change the identifiers "
			    ."of the selected groups to.</p>";
		}
		else {
			$q = "update groups set name='".$new_group_name."' "
			    ."where group_id in ('".join("','",$selection)."');";
			$res = mysqli_query($linkLocali,$q);
			if (!$res) echo "Error in query:<br>$q: " . mysqli_error($linkLocali);
		}
	}
}

echo "<br>\n";
echo "<table border=\"1\">\n";
echo "<tr>\n";
echo " <th rowspan=2>Group-ID</th>\n";
echo " <th>Group Name</th>\n";
echo " <th>covariates</th>\n";
echo " <th>trait_list</th>\n";
echo " <th>significant</th>\n";
echo " <th rowspan=2>selecting</th></tr>\n";
echo " <tr><th colspan=4>query</th>\n";
echo "</tr>\n";

$groups = mysqli_query($linkLocali,"select * from groups;");

echo "<form action=\"db_characterisation.php\" method=\"GET\">\n";
while($row = mysqli_fetch_array($groups))
{
	echo "<tr>\n";
	$name=$row["name"];
	$group_id=$row["group_id"];
	echo " <td rowspan=2><a href=db_characterisation2.php?group_id=$group_id&name=$name>".$group_id."</a></td>\n";
	echo " <td>".$name."</td>\n";
	echo " <td>".$row["covariates"]."</td>\n";
	echo " <td>".join(", ",preg_split("/,\\s*/",$row["trait_list"]))."</td>\n";
	echo " <td>".$row["significant"]."</td>\n";
	echo " <td rowspan=2><input type=\"checkbox\" name=\"selection[]\" value=".$group_id."></td></tr>\n";
	echo " <tr><td colspan=4>".$row["query"]."</td>\n";
	echo "</tr>\n";
}
echo "</table>\n";
mysqli_free_result($groups);

echo "<br>\n";

echo "<input type=\"submit\" name=\"todo\" value=\"delete\">\n";
echo "<input name=\"new_group_id\" size=\"15\">\n";
echo "<input type=\"submit\" name=\"todo\" value=\"Change Group Name\" style=\"align:right\">\n";
echo "</form>\n";

include("footer.php");

?>
</body>
</html>

