<?php

  TEMPLATEWARNINGHASH

/**

=head1 NAME

footer.php

=head1 SYNOPSIS

included by web pages

=head1 DESCRIPTION

Common footer for all dynamic web pages.

=head1 AUTHOR

Steffen ME<ouml>ller <moeller@inb.uni-luebeck.de>

=head1 COPYRIGHT
	
Universities of Rostock and LE<uuml>beck, Germany, 2001-2010

=cut

*/

  //phpinfo();
  require_once("func_relatedProjects.php");
  require_once("header.php");

  global $urlLogoLeft2,$urlLogoLeft, $urlLogoRight, $urlLogoRightLarge;

  // basepth to all links
  $basepath = "URLEQTL";
  // ensure basepath ends with '/'
  $basepath = $basepath.((substr($basepath,-1) === '/')?'':'/');
  echo "<HR>\n";
  echo "<table border=0 width=100%>\n";
  require_once("func_dbconfig.php");
  echo "<tr><td align = center nowrap>";
  echo FOOTERLOGOLEFT;
  echo '</td><td align=center>';
  foreach (array(
                 array_merge(
			 array("Interactions"=>"interaction.php", "Interactions(collapsed)"=>"interaction_collapsed.php",
				 "Loci"=>"locus.php", "Markers"=>"marker.php",
				 "QTL"=>"qtl.php",),
			 (SHOWGROUPS)?array("QTL-Groups"=>"qtl_groups.php"):array(),
			 array(
				 "Traits"=>"trait.php", "Phens"=>"phen.php"
			 )
		 ),
                 array_merge(
			 array("Overview"=>"overview.php",
				"Scatter"=>"scatter.php", "Venn"=>"venn.php",
				"EffectPlot"=>"effectplot.php",
			 ),
			 (SHOWGROUPS)?array("Manual-Groups"=>"db_characterisation.php"):array(),
			 (SHOWINTERGENOMICS)?array("Intergenomics"=>"../intergenomics/index.php"):array()
		 ),
		 array("Home"=>"index.php", "Help"=>"help.php", "Contact"=>"mailto:MAINTAINEREMAIL")
	   ) as $n => $block)
   {
	if ($n>0) echo "<br/>";
	$m=0;
	foreach ($block as $a=>$b) {
		if (file_exists($b)) {
			if (!empty($m)) echo "&nbsp;|&nbsp;";
			echo "<a href=\"$basepath$b\">$a</a>";
			$m++;
		}
	}
  }
  echo '</td>';
  echo '<td align=center>';
  relatedProjects("eqtl");
  echo '</td>';
  echo '<td align=center>';
  echo FOOTERLOGORIGHT;
  echo "</td></tr></table>\n";
?>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("a[rel^='prettyPhoto']").prettyPhoto({animationSpeed:'slow',theme:'facebook',slideshow:6000});
	});
</script>
</body>
</html>
