<?php

  TEMPLATEWARNINGHASH

/**

=head1 NAME

footer.php

=head1 SYNOPSIS

included by web pages

=head1 DESCRIPTION

Common footer for all dynamic web pages.

=head1 AUTHOR

Steffen Moeller <moeller@inb.uni-luebeck.de>

=head1 COPYRIGHT
	
Universities of Rostock and Luebeck, 2001-2009

=cut

*/

  echo "<HR>\n";
  echo "<table border=0 width=100%>\n";
  require_once("func_dbconfig.php");
  echo "<tr><td align = center>";
  echo FOOTERLOGOLEFT;
  echo '</td><td align=center>';
  foreach (array("Interactions"=>"interaction.php", "Interactions(collapsed)"=>"interaction_collapsed.php",
 		 "Loci"=>"locus.php", "Markers"=>"marker.php",
  		 "QTL"=>"qtl.php", "Groups"=>"qtl_groups.php",
		 "Genes"=>"trait.php", "Phens"=>"phen.php") as $a=>$b)
  {
	echo "&nbsp;<a href=\"$b\">$a</a>&nbsp;";
  }
  echo "<br/>&nbsp;<br/>\n";
  echo '<a href="index.php">Home</a>&nbsp;&nbsp;';
  echo '<font color=green size=-1>';
  echo '<a href="help.php">Help</a>&nbsp;&nbsp;';
  echo '<a href="mailto:'.$maintainerEmail.'"><i>Contact</i></a>';
  echo '</font>';
  echo '</td><td align=center>';
  echo FOOTERLOGORIGHT;
  echo "</td></tr></table>\n";
?>
