<?php
// 	echo "Setting species name ";
	global $species_name_trivial;
	global $species_name_latin;
	global $species_name_ensembl_core;
	global $species_name_ensembl_mart;
	$species_name_trivial="ENSEMBLSPECIESTRIVIAL";
	$species_name_latin="ENSEMBLSPECIESSEARCHURL";
	$species_name_ensembl_core="ENSEMBLSPECIESDB";
	$species_name_ensembl_mart="ENSEMBLSPECIESMARTLONG";
// 	echo "to $species_name_trivial/$species_name_ensembl_mart";
?>
