<?php

/*

=head1 NAME

func_gprofiler.php - function to provide interface to g:Profiler

=head1 SYNOPSIS

To be included from PHP code without side-effects

=head1 DESCRIPTION

This file provides a function that shares the provisioning of an interface
for the manual calling of the g:Profiler and its automated invocation
with the parallel local caching.

*/

/*

=head2 gprofilerlink($traits,$genes,$id)

The function is passed trait IDs and gene IDs that are presumed to belong to one particular group.
An optional third parameter is an identifier for that colletion of expression QTL.

The routine is invoked from the qtl.php page and the interaction.php page.

=cut

*/

function gprofilerlink($traits,$genes,$id="") {
	$traits_unique = array_unique($traits);
	$externalgprofiler  = "http://biit.cs.ut.ee/gprofiler/index.cgi?organism=ENSEMBLSPECIESMARTLONG&significant=1&output=png&query=";
	$externalgprofiler_traits = $externalgprofiler.join("+",$traits_unique);
	$cachedgprofiler  = "http:?query=";
	$cachedgprofiler .= join(",",$traits_unique);
	$cachedgprofiler .= "&organism=ENSEMBLSPECIESMARTLONG&significant=1&output=png";

	$genes_unique = array_unique($genes);
	$externalgprofiler_genes = $externalgprofiler.join("+",$genes_unique);
	$cachedgprofiler_genes  = "http:?query=";
	$cachedgprofiler_genes .= join(",",$genes_unique);
	$cachedgprofiler_genes .= "&organism=ENSEMBLSPECIESMARTLONG&significant=1&output=png";

	echo "<h2>Characterisation</h2>\n";
	echo "<table border=\"0\"><th rowspan=2><a href=\"http://biit.cs.ut.ee/gprofiler/index.cgi\" border=\"0\"><img src=\"http://biit.cs.ut.ee/gprofiler/img/header.png\" width=\"160px\" height=\"40px\" border=\"0\"></a></th>\n";
#	echo "<td><a href= $linkgprofiler>Manual inspection</a></td></tr>\n";
	echo "<td><a href= $externalgprofiler_traits>Manual inspection</a></td>\n";
	echo "<td><a href= $externalgprofiler_genes>Manual inspection gene_name</a></td></tr>\n";
	echo "<td>";
	echo "<form action=\"http:characterisation.php\" method=\"POST\">";
	echo "<input type=checkbox name=gprofilesignificant value=1 />significant only<br>\n";
	echo "<input type=hidden value=\"".join("+",$traits)."\" />\n";
	echo "ID of analysis: <input name=id value=\"$id\" size=15/><br/>\n";
	echo "Traits: ".join(" ",$traits);
	echo "</form>";
	echo "</td>\n";
	echo "<td>";
	echo "<form action=\"http:characterisation.php\" method=\"POST\">";   #Is the action set correctly? -- Benedikt 09-07-09
	echo "<input type=checkbox name=gprofilesignificant value=1 />significant only<br>\n";
	echo "<input type=hidden value=\"".join("+",$genes)."\" />\n";
	echo "ID of analysis: <input name=id value=\"$id\" size=15/><br/>\n";
	echo "Genes: ".join(" ",$genes);
	echo "</form>";
	echo "</td></tr>";
	echo "</table>\n";
}


/*

=head1 AUTHOR

Steffen ME<ouml>ller <moeller@inb.uni-luebeck.de>

=head1 COPYRIGHT

Universities of Rostock and LE<uuml>beck, 2003-2009

=cut

*/


?>
