<?php

/*

=head1 FUNCTION relatedProjects

Echoes <ul> of related projects.

=head1 AUTHOR

Steffen ME<ouml>ller <steffen.moeller@uk-sh.de>

=head1 COPYRIGHT
	
University of LE<uuml>beck, Germany, 2010

=cut

*/

  function relatedProjects ($relDir="eqtl") {
	$a="PROJECTRELATED";
	if (!empty($a)) {
		$bn=basename($_SERVER["REQUEST_URI"]);
		echo "This page in other projects:\n";
		echo "<ul>";
		$projects=preg_split('/(\]|\[)([[ \t])*/',"$a");
		foreach ($projects as $p) {
			#echo "<li>p='$p'";
			if (!empty($p)) {
				$projectdetails=preg_split("/,/",$p);
				if ("" == "$relDir") {
					echo "<li><a href=\"".$projectdetails[1]."\">".$projectdetails[0]."</a>";
				}
				else {
					echo "<li><a href=\"".$projectdetails[1]."/eqtl/$bn\">".$projectdetails[0]."</a>";
				}
			}
		}
		echo "</ul>";
   	}
   }
?>
