<?php

/*

=head1 NAME

func_selection.php - assignment to common fields to entry forms

=head1 SYNOPSIS

In PHP scripts: require_once("func_selection.php")

=head1 DESCRIPTION

The PHP scripts of this system generally have two parts. The first
specifies the layout of the HTML entry widgets, the second performs
the query and displays the result.

This PHP script shares the specification of the individual elements
of the entry form between the various interfaces.

=cut

*/

global $individuals_group_id;


require_once("func_dbconfig.php"); // errorMessage

/*

=head2 Internal functions

=over 4

=item print_input_text

=cut

*/

function print_input_text($name,$val,$td=FALSE,$size=7,$maxsize=0) {
   if ($td) echo "<td>";
   echo "<input type=text name=$name size=$size";
   if (!empty($maxsize))           { echo " maxsize=\"$maxsize\""; }
   if (""!="$val" and isset($val)) { echo " value=\"$val\""; }
   echo ">";
   if ($td) echo "</td>";
}


/*

=item print_two_input_text

=cut

*/

function print_two_input_text($name1,$name2,$val1,$val2,$td=TRUE,$size=7,$interspace=" - ") {
   if ($td) echo "<td>";
   print_input_text($name1,$val1,FALSE,$size);
   echo "$interspace";
   print_input_text($name2,$val2,FALSE,$size);
   if ($td) echo "</td>";
}


/*

=item print_row_two_text_ingle

=cut

*/

function print_row_two_text_single($rname,$name1,$name2,$val1,$val2,$size=7,$interspace=" - ") {
   echo "<tr>";
   echo "<th align=right>$rname:</th>";
   print_two_input_text($name1,$name2,$val1,$val2,TRUE,$size,$interspace);
   echo "</tr>\n";
}


/*

=item print_row_one_text_single

=cut

*/

function print_row_one_text_single($rname,$name1,$val1,$size=7) {
   echo "<tr>";
   echo "<th align=right>$rname:</th>";
   print_input_text($name1,$val1,TRUE,$size);
   echo "</tr>\n";
}

/*

=item print_exclusive_selection($label,$variablename,$entryarray,$default)

A selection of radio buttons are prepared to allow an exclusive selection between the values.
The first is selected by default. The entry is checked iff a value matches the default value.

=cut

*/

function print_exclusive_selection($rname,$variablename,$entryarray,$default="") {

  echo "<tr>";
  echo "<th align=right>$rname:</th>";
  echo "<td>";
  $preset=$default;
  if (isset($_POST[$variablename])) {
  	$preset=$_POST[$variablename];
  }
  elseif (isset($_GET[$variablename])) {
  	$preset=$_GET[$variablename];
  }

  foreach($entryarray as $presentation=>$value) {
  	echo "<input type=radio name=\"$variablename\" value=\"$value\"".("$value"=="$preset"?" checked":"")." />$presentation<br>\n";
  }
  echo "</td>";
  echo "</tr>\n";

}

/*

=back

=cut

*/



/*

=head2 Public function

=over 4

=item print_selection_form

=cut

*/

function print_selection_form($properties) {

	global $LODmin,$LODmax,$quantilemin,$quantilemax,
	       $chromosome,  $cM,  $marker, 
	       $chromosome2, $cM2, $marker2, 
	       $LODdiffmin, $LODdiffmax, $cM_Peak_Min, $cM_Peak_Max, $Mbp_Peak_Min, $Mbp_Peak_Max,
	       $cM_within, $groups, $locus, $chrlist,
	       $MeanMin, $MeanMax, 
	       $NumberChromosomesPerTraitMin,$NumberChromosomesPerTraitMax,
               $PvalueMax,$PvalueMin,
	       $SdMin, $SdMax, $VarianceMin, $VarianceMax, $MedianMin, $MedianMax,
	       $traitlist, $traits, $work, $method, $unit, $find_marker, $cistrans,
	       $split_chromosomes
	;



	if (empty($properties)) {
		errorMessage("Internal problem: print_selection_form() was called with empty argumentlist");
		exit;
	}

	if (!is_array($properties)) {
		switch($properties) {
		 case "all_qtl":
			$properties = array("groups", "locus", 
					    "chromosome", "peakInMbp",
					    "peakInCentiMorgan", "flanks", "trait",
					    "LOD", "quantile", "LODdiff",
					    "pvalue",
					    "mean", "sd");
			break;
		 case "all_qtl_groups":
			$properties = array("mean", "sd", "LOD");
			break;
		 
		 case "all_qtl_phen":
			$properties = array("mean", "sd", "median", "variance","limit");
			break;
		 
		 case "all_qtl_trait":
			$properties = array(	"trait",
						"correlation and loci", "phen_analysis",
						"mean", "sd", "median", "variance" , "LOD", "pvalue",
						"number_of_chromosomes_per_trait"
			);
			break;

		 case "table_overview_scanone":
			$properties = array(
						"LOD", "pvalue", "mean", "sd", "median", "variance" ,"split_chromosomes"
						#, "number_of_chromosomes_per_trait"
			);
			break;

		 case "figure_scatter":
			$properties = array(
						"LOD", "pvalue", "mean", "sd", "median", "variance" ,
						#, "number_of_chromosomes_per_trait"
			);
			break;

		 case "figure_venn":
			$properties = array(
						"LOD", "pvalue", "mean", "sd", "median", "variance", "cistrans"
						#, "number_of_chromosomes_per_trait"
			);
			break;
		 case "figure_effectplot":
			$properties = array(
						"trait","subset","hr","work","method","LOD","hr","unit","marker","marker2","find_marker","hr" #"cistrans"
			);
			break;

		 default: 
			$properties = preg_split("/,/",$properties);
			break;
		}
	}

	# properties are now redefined as an array
	
	foreach ($properties as $p) {

		switch($p) {

			case "groups":
?>
			<tr><th class=r>Groups:</th><td colspan=3><input type=text name=groups size=40 maxsize=700
<?php
			if (!empty($groups)) {
				echo "value=";
				if (is_array($groups)) {
					#FIXME: this should show the names of the groups, not the IDs
					echo "\"".join(",",$groups)."\"";
				}
				else {
					echo "\"$groups\"";
					$groups = preg_split("/[ ,;\t\n]+/",$groups);
				}
			}
?>
			></td></tr>
<?php
				break;

			case "locus":
?>
			<tr><th class=r>Locus:</th><td colspan=3><input type=text name=locus size=40 maxsize=700
<?php
			if ("" != "$locus") {
				echo "value=";
				if (is_array($locus)) {
					echo "\"".join(",",$locus)."\"";
				}
				else {
					echo "\"$locus\"";
					$locus = preg_split("/[ ,;\t\n]+/",$locus);
				}
			}
?>
			></td></tr>
<?php
				break;

			case "marker":
				echo "<tr><th class=r>Locus:</th><td colspan=1>Marker Name: ";
				print_input_text("marker",$marker,FALSE,10,12);
				echo "</td><th>";
				echo "or as";
				echo "</th><td>Chr@cM/Mbp: ";
				print_input_text("chromosome",$chromosome,FALSE,2);
				echo "@";
				print_input_text("cM",$cM,FALSE,3,4);
				echo "</td></tr>";
				break;

			case "marker2":
				echo "<tr><th class=r>2<sup>nd</sup>Locus:<br><small>optional</small></th><td colspan=1>Marker Name: ";
				print_input_text("marker2",$marker2,FALSE,10,12);
				echo "</td><th>";
				echo "or as";
				echo "</th><td>Chr@cM/Mbp: ";
				print_input_text("chromosome2",$chromosome2,FALSE,2);
				echo "@";
				print_input_text("cM2",$cM2,FALSE,3,4);
				echo "</td></tr>";
				break;

			case "chrlist":
			case "chromosome":
?>
			<tr><th class=r>Chromosomes:</th><td colspan=3><input type=text name=chrlist size=40 maxsize=700
<?php
			if (!empty($chrlist)) {
				echo "value=";
				if (is_array($chrlist)) {
					echo "\"".join(",",$chrlist)."\"";
				}
				else {
					echo "\"$chrlist\"";
				}
			}
?>
			></td></tr>
<?php
				break;

			case "LOD":
				if (empty($LODmin)) $LODmin=THRESHOLD; # from conf/*
				print_row_two_text_single("LOD-score span","LODmin","LODmax",$LODmin,$LODmax,5);
				break;

			case "quantile":
				print_row_two_text_single("95% quantile span","quantilemin","quantilemax",
								$quantilemin,$quantilemax,4);
				break;

			case "LODdiff":
?>
<tr><th class=r>Min diff of LOD score to 95% quantile:</th>
    <td colspan=3>
	<input type=text name=LODdiffmin size=4 value= <?php echo empty($LODdiffmin)?"0":$LODdiffmin; ?>>
    </td></tr>
<?php
				break;

			case "peakInCentiMorgan":
				print_row_two_text_single("centi-Morgan span for peak","cM_Peak_Min","cM_Peak_Max",
								$cM_Peak_Min,$cM_Peak_Max,4);
				break;
			case "peakInMbp":
				print_row_two_text_single("Mbp span for peak","Mbp_Peak_Min","Mbp_Peak_Max",
								$Mbp_Peak_Min,$Mbp_Peak_Max,5);
				break;
			case "flanks":
?>
<tr><th class=r>centi-Morgan position<br>within flanking positions</th>
    <td colspan=3>
	<input type=text name=cM_within size=4<?php if (isset($cM_within)) echo " value=$cM_within";?>>
    </td>
</tr>
<?php
				break;

			case "traitlist":
			case "trait":
				echo "<tr><th class=r>Trait names:</th>\n";
				echo "<td colspan=3 nowrap>";
				#echo "Traitlist: $traitlist, traits: $traits<br>\n";
			        echo "<input type=text name=traitlist size=30 maxsize=255 ";
	if (empty($traitlist)) {
		if (!empty($traits)) {
			echo "value=\"$traits\"";
		}
	}
	else {
		if (is_array($traitlist)) {
			echo "value=\"".join(",",$traitlist)."\"";
		}
		else {
			echo "value=\"$traitlist\"";
		}
	}
?>
			>
			<?php
	if (empty($traitlist)) { echo "<small>, e.g. EXAMPLE_TRAITS</small>"; } 
			?>
			</td></tr>
<?php
				break;		// end of trait

			case "subset":
				echo "<tr>";
				echo "<th align=right>Available Specs for Subset of Individuals:</th>";
				echo "<td>";
				$constraintsQuery="SELECT * FROM individuals_group";
				$constraintsResult=mysql_query($constraintsQuery);
				if (!$constraintsResult) {
					echo 'Query failed: ' . mysql_error()."\n";
				}
				else {
					echo "<table>\n";
					$line=array(individuals_group_id=>"", name=>"all", phen=>"", relation=>"",  value=>"");
					do {
						echo "<tr><td>";
						echo '<input type="radio" name="individuals_group_id" value="'
							.$line["individuals_group_id"].'"'
							.("$individuals_group_id"==$line["individuals_group_id"]?' checked':'').'>'.$line["name"]
							.'</td><td>';
						if ("all" != $line["name"]) echo '<small> ('.$line["phen"]." ".$line["relation"]." ".$line["value"].')</small>';
						echo '</td>';
						if (ALLOWEDITING) {
							echo '<td>';
							if ("all" != $line["name"]) echo '<a href="http:individuals_group?id='.$line["individuals_group_id"].'">edit</a>';
							echo "</td>";
						}
						echo "</tr>\n";
					}
					while($line = mysql_fetch_array($constraintsResult, MYSQL_ASSOC));
					echo "</table>";
					mysql_free_result($constraintsResult);
				}
				echo "</td>";
				echo "</tr>\n";
				break;

			case "work":
				print_exclusive_selection("Work","work",
						array("scanone"=>"scanone","scantwo"=>"scantwo"),"scanone");
				break;

			case "method":
				print_exclusive_selection("Method","method",
					array("Harley-Knott (hk)"=>"hk",
					      "Expectation Maximisation (em)"=>"em",
					      "imputation (imp)"=>"imp",
					      "extended Harley-Knott (ehk)"=>"ehk",
					      "marker regression (mr)"=>"mr",
					      "mr-imp"=>"mr-imp",
					      "mr-argmax"=>"mr-argmax"
					      ),"hk");
				break;

			case "unit":
				print_exclusive_selection("Unit","unit",
						array("Mbp"=>"Mbp","cM"=>"cM"),"Mbp");
				break;

			case "find_marker":
				print_exclusive_selection("Find Marker","find_marker",
						array("Marker Only (nearest wet-lab evidence)"=>"marker",
						      "Pseudo-Marker (also presumed genotypes)"=>"pseudomarker"),
						"marker");
				#echo " <i>(still under development)</i>";
				break;

			case "mean":
				print_row_two_text_single("Expression Mean","MeanMin","MeanMax",$MeanMin,$MeanMax);
				break;

			case "median":
				print_row_two_text_single("Expression Median","MedianMin","MedianMax",$MedianMin,$MedianMax);
				break;

			case "variance":
				print_row_two_text_single("Expression Variance","VarianceMin","VarianceMax",$VarianceMin,$VarianceMax);
				break;

			case "sd":
				print_row_two_text_single("Expression SD","SdMin","SdMax",$SdMin,$SdMax);
				break;
			case "pvalue":
				print_row_two_text_single("QTL P-value","PvalueMin","PvalueMax",$PvalueMin,$PvalueMax);
				break;

			case "cistrans":
				print_exclusive_selection("Cis/Trans","cistrans",array("skip filter"=>"","cis"=>"cis","trans"=>"trans"));
				break;

			case "number_of_chromosomes_per_trait":
				print_row_two_text_single("#Chromosomes/Trait",
					"NumberChromosomesPerTraitMin","NumberChromosomesPerTraitMax",
					$NumberChromosomesPerTraitMin,$NumberChromosomesPerTraitMax);
				break;

			case "correlation and loci":
				echo "<tr><th rowspan=3 align=left>Correlation and Loci</th>\n";
			  	echo "<td valign=top><b>Expression correlation</b><br>\n";
				echo "<code>&nbsp;0</code> &lt; "
				    ."<input type=text name=expr_pos_cor_min size=7> &lt; <code>+ cor</code> &lt; "
				    ."<input type=text name=expr_pos_cor_max size=7> &lt; <code>1</code>  "
				    ."(show max <input type=text name=\"maxNumCorrGenesToShow\" size=5 value=50>)";
				echo "<br>\n";
				echo "<code>-1</code> &lt; <input type=text name=expr_neg_cor_min size=7> &lt; <code>- cor</code> &lt; <input type=text name=expr_neg_cor_max size=7> &lt; <code>0</code>\n";
				echo "</td></tr>\n";

				echo "<tr><td valign=top><b>Phen covariates correlation</b><br>\n";
				echo  "<code>&nbsp;0</code> &lt; <input type=text name=phen_pos_cor_min size=7> &lt; "
				     ."<code>+ cor</code> &lt; <input type=text name=phen_pos_cor_max size=7> &lt; <code>1</code>\n";
				echo "<br>\n";
				echo "<code>-1</code> &lt; <input type=text name=phen_neg_cor_min size=7> &lt; "
				    ."<code>- cor</code> &lt; <input type=text name=phen_neg_cor_max size=7> &lt; <code>0</code>";
				echo "</td></tr>";
				echo "<tr><td valign=top>";
				$query = "select distinct phen from trait_phen_cor";
				$result = mysql_query($query) or die("Query '$query' failed: " . mysql_error());
				echo "<b>Show only data for the following phen(s):</b><br />\n";
				/*
				echo "<select name=phen multiple size=8>\n";
				while($line=mysql_fetch_array($result, MYSQL_ASSOC)) {
					echo "<option value=\"".$line["phen"]."\">"
						.$line{"phen"}."</option>\n";
				}
				echo "</select>\n";
				*/

				$lno=0;
				echo "<table><tr>";
				while($line=mysql_fetch_array($result, MYSQL_ASSOC)) {
					$lno++;
					echo "<td>";
					echo "<input name=\"phen\" type=\"checkbox\" "
						. "value=\"".$line["phen"]."\">"
						. $line["phen"];
					echo "</td>";
					if (0 == $lno % 5) {
						echo "</tr><tr>";
						#echo "<br />\n";
					}
				}
				echo "</tr></table>\n";
				mysql_free_result($result);
				echo "</td></tr>";
				break;

			case "split_chromosomes":
				echo "<tr><th>Split Chromosomes</th><td>";
				echo "<select name=\"split_chromosomes\">\n";
				echo "<option value=\"separated\">Show results for every chromosome separately</option>\n";
				echo "<option value=\"aggregated\">Show aggregated chromsomal results per covariates</option>\n";
				echo "</select>";
				echo "</td></tr>\n";
				break;

			case "phen_analysis":
		     		echo "<tr><th>Phen Analyses:</th><td>";
				$query = "select trait_phen_analysis_id, analysis, "
					."description from trait_phen_analysis";
				$result = mysql_query($query) or die("Query '$query' failed: " . mysql_error());
				echo "<b>Select analysis to constrain traits for:</b><br />";
				echo "<select name=\"trait_phen_analysis_id\">\n";
				echo "<option value=\"\">select test of concern</option>\n";
				while($line=mysql_fetch_array($result, MYSQL_ASSOC)) {
					echo "<option value=\"".$line["trait_phen_analysis_id"]."\">"
						.$line["description"]."</option>\n";
				}
				mysql_free_result($result);
				
				echo "</select><br />\n";
				print_two_input_text("trait_phen_analysis_value_min",
						     "trait_phen_analysis_value_max",
				                     "0.000","0.001",FALSE,$size=7,$interspace=" &le; p value &le; "
				); 
				echo "</td></tr>\n";
				break;

			case "limit":
				if (empty($limit)) $limit=10;
				print_row_one_text_single("Limit","limit",$limit,4);
				break;

			case "hr":
				echo "<tr><td colspan=200><hr></td></tr>\n";
				break;

			case "submit": case "cancel": case "cancle": case "reset":
				echo "<tr><td colspan=4><input type=\"submit\"> &nbsp; <input type=\"reset\"></td><tr>\n";
				break;

			default:
				errorMessage("print_selection_form: Unknown parameter '$p'\n");
				exit;
		} // switch
	} // for
} // function

/*

=back

=cut

*/

/*

=head1 AUTHOR

Steffen ME<ouml>ller <moeller@inb.uni-luebeck.de>

=head1 COPYRIGHT

University of LE<uuml>beck, 2009

=cut

*/

?>
