<?php

    TEMPLATEWARNINGHASH

/**

STARTOFDOCUMENTATION

=head1 NAME

	header.php - common header for dynamic web pages

=head1 SYNOPSIS

	to be included by PHP scripts

=head1 DESCRIPTION

	The title is passed as an argument.
	Differences between projects are defined in the
	configuration.

=cut

The documentation does not end here but is dispersed throughout the file.

*/

    require_once("func_dbconfig.php");

/*

=head2 show_html_header

=cut

*/

    function show_html_header($title,$reldir="") {
	echo '<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
	  "http://www.w3.org/TR/html4/loose.dtd">'."\n";
	echo "<html>\n  <head>\n    <title>$title</title>\n    ";
	$sheets = preg_split("/[ ,]/","STYLESHEETS");
	foreach ($sheets as $s) {
	    echo "    <link href=\"$s\" rel=\"stylesheet\" media=\"screen\"/>\n";
	}
	echo "<META http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\" />\n  ";
	echo "</head>\n  <body>\n";
    }



/**

=head2 show_small_header

=cut

*/

    function show_small_header($title,$show_html_header_flag=false,$prefix="") {
    	global $urlLogoLeft2,$urlLogoRightLarge,$urlLogoRight,$urlLogoLeft;
	if ($show_html_header_flag) {
		@show_html_header($title);
	}
	echo "$prefix";
	echo "<table border=0"
	     ." cellspacing=0"
		//."cellpadding=15
	     ." width=100%>\n"
	    ."<td align=center>".HEADERLOGOLEFT."</td>"
	    ."<td><p align=left>Investigation of complex diseases</p><h1 align=center>$title</h1></td>\n"
	    ."<td align=center>".HEADERLOGORIGHT."</td>"
	    ."</td></tr>"
	    ."</table>\n";
    }



/**

=head2 show_large_header

=cut

*/

    function show_large_header($title,$show_html_header_flag=TRUE,$preamble="") {
    	global $urlLogoLeft,$urlLogoRight,$urlLogoLeftLarge,$urlLogoRightLarge;
	if ($show_html_header_flag) {
		@show_html_header($title);
	}
	echo "$preamble";
	echo "<table border=0 width=\"100%\">\n<tr><td valign=top align=center cellpadding=5 nowrap>"
	    ."<img width=WIDTHLOGOLEFT src=\"$urlLogoLeft\" ALT=\"1st Logo\">";
	if (!empty($urlLogoLeft2)) {
	    echo " " ."<img height=HEIGHTLOGOLEFT src=\"$urlLogoLeft2\" ALT=\"2nd Logo\">";
	}
	echo "</td>\n";
	echo "<td valign=top align=center>";
	echo "<h1 class=header>$title</h1>\n";
	foreach (array("Home"=>"index.php", "Interactions"=>"interaction.php", "Loci"=>"locus.php", "Markers"=>"marker.php",
		"QTL"=>"qtl.php", "Genes"=>"trait.php") as $a=>$b)
	{
		echo "&nbsp;<a href=\"$b\">$a</a>&nbsp;";
	}
	echo "&nbsp;<font color=green size=-1><a href=\"mailto:moeller@inb.uni-luebeck.de\"><i>Help</i></a></font>";
	echo "</td>\n";
	echo "<td valign=top>";
	echo "<img width=WIDTHLOGORIGHT src=\"" .$urlLogoRightLarge ."\" ALT=\"Logo\">";
	echo "</td>\n" ."</tr></table>\n";
    }

/**
=head1 AUTHOR

	Steffen Moeller <moeller@inb.uni-luebeck.de>

=head1 COPYRIGHT

	Universities of Rostock and Luebeck, 2003-2009

=cut

ENDOFDOCUMENTATION

*/

?>
