<?php 
	TEMPLATEWARNINGHASH

/**

=head1 NAME

index.php - home for presentation of expression QTL

=head1 SYNOPSIS

to be accessed with no parameters

=head1 AUTHOR

Steffen ME<ouml>ller <moeller@inb.uni-luebeck.de>

=head1 COPYRIGHT

Universities of Rostock and LE<uuml>beck, Germany, 2003-2009

=cut

*/

	require_once("header.php");
	show_large_header("PROJECTLONGTITLE",true,'INTROPREFIX');
?>
<br>
<table border=0 summary="separation of an introduction to the background of the analysis to the left and the results to the right" cellpadding=15>
<tr><td valign=top bgcolor=lightyellow width=35%>
<h2>Background</h2>
INTROBACKGROUND
<h2>Availability</h2>
<p class="block">
All data from which the here presented eQTL were determined are available on
<?php echo "<a href=\"$htmlroot/downloads\">$htmlroot/download</a>"?>.,
This web interface and the scripts that filled it with contents
are available at <a href="URLSCMPROJECT">URLSCMPROJECT</a>.
</p>
</td><td valign=top>
<h2>Expression QTLs for EAE</h2>
INTROSYNOPSIS

<p class=BLOCK>Several web query forms have been created to help browsing through the
QTLs. A "trait" is referred to as a property measured and
investigated for a correlation with a particular genotype. For
eQTLs this refers to a particular gene or, as here, to an invidual
probe of the chip.
</p>

<?php
$forms=array();
$forms[]=array("href"=>"qtl_groups.php",  "title"=>"QTL Groups",   
               "description"=>"Characterisation of loci assigned to classical QTL or any self-selected groups of loci.");
$forms[]=array("href"=>"qtl.php",         "title"=>"QTL",          
               "description"=>"Filter for single loci influencing the expression of at least one gene.");
$forms[]=array("href"=>"interaction.php", "title"=>"Interactions", 
               "description"=>"Filter for pairs of loci contributing to the control of the expression of at least one gene.");
$forms[]=array("href"=>"trait.php",       "title"=>"e-Traits",     
               "description"=>"Filter for all information on particular genes.");
$forms[]=array("href"=>"phen.php",        "title"=>"c-Traits",     
               "description"=>"Classically scored phenotypes and their correlation with transcript levels.");
$forms[]=array("href"=>"locus.php",       "title"=>"Loci",         
               "description"=>"Do not show the genes but only the loci and the number of genes thes control. "
	      ."This is supposed to determine a preferences for further investigation within the genome.");
$forms[]=array("href"=>"xyplot.php",      "title"=>"XYplot",       
               "description"=>"See how markers affect the relation of two molecular or phenotypic traits to each other.");
$forms[]=array("href"=>"marker.php",      "title"=>"Marker",       
               "description"=>"Link the cMorgan positions assigned to markers to base pairs.");
if (file_exists("parental_expression.php")) 
	$forms[]=array("href"=>"parental_expression.php", "title"=>"Expression data", "description"=>"See expression level of genes 30 days post immunisation.");
if (file_exists("expression_trait_correlation.php"))
	$forms[]=array("href"=>"expression_trait_correlation.php", "title"=>"Correlation of classical and expresssion traits", "description"=>"For any trait this answers the question to what extend a gene's expression is correlating with the severity of the disease.");

echo "<table>\n";
foreach($forms as $f) {
	echo "<tr><td nowrap><a href=\"".$f["href"]."\">".$f["title"]."</a></td><td>".$f["description"]."</td></tr>\n";
}
echo "</table>\n";
?>

<h2>Analyses</h2>
<?php
$analyses=array();
$analyses[]=array("href"=>"scatter.php",       "title"=>"Cause-vs-Effect Location Scatter Plot");
$analyses[]=array("href"=>"venn.php",          "title"=>"Venn diagrams for Covariates");
$analyses[]=array("href"=>"effectplot.php",    "title"=>"R/qtl Effect plot, Scanone and Scantwo for individual traits");
$analyses[]=array("href"=>"overview.php",      "title"=>"Tabular presentation of QTL density");
$analyses[]=array("href"=>"trait_summary.php", "title"=>"Differential analysis of covariates for single trait");
$analyses[]=array("href"=>"xyplot.php",        "title"=>"Plotting two traits/phenotypes against each other");
echo "<table>\n";
foreach($analyses as $a) {
	echo "<tr><td><a href=\"".$a["href"]."\">".$a["title"]."</a></td>";
	if (!empty($a["description"])) {
		echo "<td>".$a["description"]."</td>";
	}
	echo "</tr>\n";
}
echo "</table>\n";
?>

<h2>Methods (Supplementary)</h2>
INTROMETHODS
<h2>Acknowlegements</h2>
INTROACKNOWLEDGEMENTS
</td></tr></table>
<?php
	require_once("footer.php");
?>
</body>
</html>

