<?php 
	TEMPLATEWARNINGHASH

/**

=head1 NAME

index.php - home for presentation of expression QTL

=head1 SYNOPSIS

to be accessed with no parameters

=head1 AUTHOR

Steffen ME<ouml>ller <moeller@inb.uni-luebeck.de>

=head1 COPYRIGHT

Universities of Rostock and LE<uuml>beck, Germany, 2003-2009

=cut

*/

	require_once("func_dbconfig.php"); // for $htmlroot
	require_once("header.php");
	show_large_header("PROJECTLONGTITLE",true,'INTROPREFIX');
?>
<br>
<table border=0 summary="separation of an introduction to the background of the analysis to the left and the results to the right" cellpadding=15>
<tr><td valign=top bgcolor=lightyellow width=35%>
<h2>Background</h2>
INTROBACKGROUND
<h2>Availability</h2>
<p class="block">
All data from which the here presented eQTL were determined are available on
<?php echo "<a href=\"$htmlroot/downloads\">$htmlroot/download</a>"?>.,
This web interface and the scripts that filled it with contents
are available at <a href="URLSCMPROJECT">URLSCMPROJECT</a>.
</p>
</td><td valign=top>
<h2>Expression QTLs for EAE</h2>
INTROSYNOPSIS

<h3>Search forms - Tabular results</h3>

<p class=BLOCK>Several web query forms have been created to help browsing through the
QTLs. A "trait" is referred to as a property measured and
investigated for a correlation with a particular genotype. For
eQTLs this refers to a particular gene or, as here, to an invidual
probe of the chip.
</p>

<?php
$forms=array();
if (SHOWGROUP) {
	$forms[]=array("href"=>"qtl_groups.php",  "title"=>"QTL Groups",   
               "description"=>"Characterisation of loci assigned to classical QTL or any self-selected groups of loci.");
}
$forms[]=array("href"=>"qtl.php",         "title"=>"QTL",          
               "description"=>"Filter for single loci influencing the expression of at least one gene.");
$forms[]=array("href"=>"interaction.php", "title"=>"Interactions", 
               "description"=>"Filter for pairs of loci contributing to the control of the expression of at least one gene.");
$forms[]=array("href"=>"trait.php",       "title"=>"e-Traits",     
               "description"=>"Filter for all information on particular genes.");
$forms[]=array("href"=>"phen.php",        "title"=>"c-Traits",     
               "description"=>"Classically scored phenotypes and their correlation with transcript levels.");
$forms[]=array("href"=>"locus.php",       "title"=>"Loci",         
               "description"=>"Do not show the genes but only the loci and the number of genes thes control. "
	      ."This is supposed to determine a preferences for further investigation within the genome.");
$forms[]=array("href"=>"xyplot.php",      "title"=>"XYplot",       
               "description"=>"See how markers affect the relation of two molecular or phenotypic traits to each other.");
$forms[]=array("href"=>"marker.php",      "title"=>"Marker",       
               "description"=>"Link the cMorgan positions assigned to markers to base pairs.");
if (SHOWINTERGENOMICS) {
	$forms[]=array("href"=>"URLWEBSITE/intergenomics/index.php",
	       "title"=>"Intergenomics",       
               "description"=>"Compare findings with xQTL from other projects - soon to be released.");
}
if (file_exists("parental_expression.php")) 
	$forms[]=array("href"=>"parental_expression.php", "title"=>"Expression data", "description"=>"See expression level of genes 30 days post immunisation.");
if (file_exists("expression_trait_correlation.php"))
	$forms[]=array("href"=>"expression_trait_correlation.php", "title"=>"Correlation of classical and expresssion traits", "description"=>"For any trait this answers the question to what extend a gene's expression is correlating with the severity of the disease.");

echo "<table>\n";
foreach($forms as $f) {
	echo "<tr><td nowrap valign=top><a href=\"".$f["href"]."\">".$f["title"]."</a></td><td>".$f["description"]."</td></tr>\n";
}
echo "</table>\n";
?>

<h3>Analyses - Graphical display</h3>
<?php
$analyses=array();
$analyses[]=array("href"=>"scatter.php",       "title"=>"Cause-vs-Effect Location Scatter Plot",
		"description" => "The chromosomal position of the QTL is plotted against the chromosomal location of the gene it controls.");
$analyses[]=array("href"=>"venn.php",          "title"=>"Venn diagrams for Covariates",
		"description" => "Some phenotypes share more chromosomal loci than others. These diagrams present this graphically.");
$analyses[]=array("href"=>"effectplot.php",    "title"=>"R/qtl Wrapper",
		"description" => "This is a wrapper of the R/qtl functionalities in the Effect plot, Scanone and Scantwo. This means that it investigates one trait at a time, with one or multiple markers.");
$analyses[]=array("href"=>"overview.php",      "title"=>"Tabular presentation of QTL density",
		"description" => "The number of QTL per chromosome is shown for multiple covariates in separate columns.");
$analyses[]=array("href"=>"trait_summary.php", "title"=>"Differential analysis of covariates for single trait",
		"description" => "The researcher is presented all the combinatons of covariates for a given trait. This allows for a comparative analysis of the change in the LOD score that the addition of an additive or interacting covariate brings.");
$analyses[]=array("href"=>"xyplot.php",        "title"=>"Two traits/phenotypes plotted against each other",
		"description" => "Investigation for loci that influence the correlation of two traits.");
$analyses[]=array("href"=>"PvalueVsLod.php",   "title"=>"Plotting eQTL by LOD score and P-value",
		"description" => "Ever wondered what P-value or LOD score to trust? This graph shows how the two relate.");
$analyses[]=array("href"=>"modules.php",      "title"=>"Networks",       
               "description"=>"Specification of modules and their significance based on co-expression analysis by WGCNA");
echo "<table>\n";
foreach($analyses as $a) {
	echo "<tr><td><a href=\"".$a["href"]."\">".$a["title"]."</a></td>";
	if (!empty($a["description"])) {
		echo "<td>".$a["description"]."</td>";
	}
	echo "</tr>\n";
}
echo "</table>\n";
?>

<h2>Methods (Supplementary)</h2>
INTROMETHODS
<h2>Acknowlegements</h2>
INTROACKNOWLEDGEMENTS
</td></tr></table>
<?php
	require_once("footer.php");
?>
</body>
</html>

