<?php
	TEMPLATEWARNINGHASH

/**

=head1 NAME

interaction.php - query and display of interacting effects

=head1 SYNOPSIS

a dynamic web page - no parameters required

=head1 DESCRIPTION

This page represents the root of the web pages that are to
be presented to regular users of the expression QTL once
that these are calculated.

The parameters, i.e. texts to introduce to the project, are
set in the configuration.

=cut

*/



	require_once("header.php");
	require_once("func_covariates.php");
	require_once("func_selection.php"); // prints part of the HTML for forms

	show_small_header("Selection of eInteractions",TRUE);
	$err=array();

	$database="DATABASEEQTLNAME";
	require_once("func_connecti.php");

	$conditionList=array(
		"Equal Chromosomes" => "(cis=1)",
		"Unequal Chromosomes" => "(cis=0)"
	);

	$a=array(
		"LocusOfGene"=>1, "Trait"=>1, "li_type" => 0, "Name_A"=>1, "Chr_A"=>1, "cMorgan_A"=>1, "Name_B"=>1, "Chr_B"=>1, "cMorgan_B"=>1,
		"gene_name"=>1, "Covariates"=>1,
		"lod_full"=>1,"lod_fv1"=>0,"lod_fv1"=>0,"lod_int"=>0,"lod_add"=>0,"lod_av1"=>0,
		"pvalue_full"=>1,"pvalue_fv1"=>0,"pvalue_int"=>0,"pvalue_add"=>0,"pvalue_av1"=>0,
		"lod_full"=>1,"lod_fv1"=>0,"lod_int"=>0,"lod_add"=>0,"lod_av1"=>0,
		"cis"=>1
	);

	# Conversion of array keys to values to be checked as being parameter names
	function prependShow($value) {
		$m = "show_".$value;
		return($m);
	};
	$aKeys = array_keys($a);
	$aPrepend = array_map("prependShow",$aKeys);
	#echo "Mapping: " . join(",",$aPrepend)."\n";

	# fields that should appear
	$dataSelectionFieldsInteraction = array(
		"groups",
		"Chromosome","ensemblversion",
		"cM_within"
		,"LODmax","LODmin",
		"quantilemin","quantilemax",
		"covariates",
		"LODdiffmin","LODdiffmax",
		"cM_Peak_Min","cM_Peak_Max",
		"MeanMin","MeanMax","SdMin","SdMax",
		"locus","chrlist", "condition"
	);
	
	$accessible_fields_in_POST_or_GET = array_merge(
		$dataSelectionFieldsInteraction,
		array( "direct","submitted","debug" ),
		$aPrepend, # the show_ ... flags to determine the subset of columns to be shown
		array(
			"cMmin","cMmax",
			"traitlist","locComb"
		),
		array(
			"limit","order"
		),
		convert_string_to_covariates_array(strtolower("locusInteraction"))
	);

			
	foreach($accessible_fields_in_POST_or_GET as $vname)
	{
		if (isset($_POST[$vname])) {
			if (is_array($_POST[$vname])) {
				$$vname=$_POST[$vname];
			}
			else {
				$$vname = ltrim(rtrim($_POST[$vname]));
				if (isset($debug) or array_key_exists("debug",$_POST) or array_key_exists("debug",$_GET)) {
					echo $vname."=".$$vname."\t";
				}
			}
		}
		elseif(isset($_GET[$vname])) {
			if (is_array($_GET[$vname])) {
				$$vname=$_GET[$vname];
			} else {
				$$vname = ltrim(rtrim($_GET[$vname]));
				if (isset($debug) or array_key_exists("debug",$_POST) or array_key_exists("debug",$_GET)) {
					echo $vname."=".$$vname."\t";
				}
			}
		}
	}

	if (!empty($direct)) {
		foreach($a as $i=>$v) {
			$n="show_".$i;
			$$n=$v;
		}
	}else{
		foreach($a as $i=>$v) {
			$vname="show_".$i;
			if (isset($_POST[$vname])) {
				$$vname=$_POST[$vname];
			}
			elseif (isset($_GET[$vname])) {
				$$vname=$_GET[$vname];
			}
		}
	}

	if (empty($direct) and empty($submitted))
	{
		include_once("func_public_qtl.php");
		print_cQTL_javascript_section();
?>
		<form id="mainform" action=interaction.php method=get>
		<input type=hidden name=submitted value=1>
		<table>
		<tr><td valign=top>
		<table>
			<tr>
				<th valign=top align=right>Covariates:<br>
					<font size=-3><i>
					<?php
						$colors=array("red","green","blue","black");
						$cvs=get_covars_on_your_own_from_qtl($linkLocali);
						foreach ($cvs as $n=>$c) {
							if ($n>0) {
							echo "; ";
								#if ( 0== $n%2) {
								#	echo "<br>\n";
								#}
							}
							$i=$n%count($colors);
							echo "<font color=".$colors[$i].">".displayCovariates("$c")."</font>";
						}
					?>
					</i></font>
				</th>
				<td valign=top>
					<?php select_covariates($linkLocali,"locusInteraction"); ?>
				</td>
			</tr>
<?php
			print_selection_form($linkLocali,"all_interaction");
?>
		<tr><th align=right>order by:</th><td>
						<select name=order>
						<option value=A>1st locus</option>
						<option value=B>2nd locus</option>
						<option value="lod_full DESC" selected>LOD score</option>
<!--						<option value="LODdiff DESC">LOD-Quantile diff</option> -->
						<option value="cis ASC">cis (ascending)</option>
						<option value="cis DESC">cis (descending)</option>
						</select>
						</td></tr>
		<tr><th align=right>Limit lines shown:</th><td><input type=text name=limit value=150></td></tr>
		<tr><td>&nbsp;</td><td></td></tr>
		<tr><td align=right><input type=submit></td><td align=left><input type=reset></td></tr>
<?php
	if (isset($_POST["debug"]) or isset($_GET["debug"])) {
		echo "<tr><th align=right>Debug:</th><td><input type=text name=debug value=\"$debug\"></td></tr>\n";
	}
?>
		</table>

		<p>Select from the following constraints:<br>
		<?php
		foreach($conditionList as $n=>$c) {
			echo "<input type=checkbox name=condition[] value=\"$n\"> $n<br>\n";
		}
		?>
		</p>

		</td><td align=center valign=top>
		<small><small>
		<table border=0>
			<tr bgcolor=black><th colspan=2 align=left><small><font color=orange>Show Field</font></small></th></tr>
<?php
		foreach($a as $i=>$v) {
			echo "<tr><td align=left colspan=2><input type=checkbox name=show_".$i.(empty($v)?"":" checked").">"
			    //."</td><td>"
			    ." $i</td></tr>\n";
		}
?>
		</table>
		</small></small>
		</td><td valign=top>
			<table border=0>
			<tr bgcolor="red"><th colspan=4 class=c>QTLs - Select Locus</th></tr>
			<tr bgcolor="orange"><th>Name</th><th>Chromosome</th><th><small>bp From</small></th><th><small>bp To</small></th></tr>
<?php
		select_from_public_qtls($linkLocali);
?>
			</table>
		</td>
		</tr>
		</table>
		</form>
<?php
	}
	else {

		require_once("func_dbconfig.php");
		require_once("func_conversion_".$ensemblversionLocal.".php");
		require_once("func_connecti.php");

		$where = "WHERE ";
		$from  = " FROM locusInteraction  AS li ";
		$query = "SELECT DISTINCT li.Trait,li.A AS Name_A, li.B AS Name_B, li.locComb AS li_type, li.lod_full, li.lod_fv1, li.lod_int, li.lod_add, li.lod_av1";

		// always link to locus database
		$needinglocusA=TRUE;
		$needinglocusB=TRUE;

		/*
		foreach($locus_array as $x) {
			$tmpA = "show_".$x."A";
			$tmpB = "show_".$x."B";
			if( !empty($$tmpA) ) $needinglocusA=TRUE;
			if( !empty($$tmpB) ) $needinglocusB=TRUE;
			if( $needingA && $needingB ) break;
		}
		*/

		if( $needinglocusA ) {
			$query .= ", A.Chr AS Chr_A, A.cMorgan AS cMorgan_A";
			$from  .= " LEFT JOIN locus AS A ON (A=A.Name) ";
		}
		if( $needinglocusB ) {
			$query .= ", B.Chr AS Chr_B, B.cMorgan AS cMorgan_B";
			$from  .= " LEFT JOIN locus AS B ON (B=B.Name) ";
		}

		$from  .= " JOIN trait ON Trait=trait.trait_id ";
		$query .= ", trait.chromosome AS Trait_Chr"
			 .", trait.strand AS Trait_strand"
			 .", trait.band AS Trait_band"
			 .", trait.start AS Trait_start"
			 .", trait.gene_name ";

		$query .= ",li.lod_full, li.lod_fv1, li.lod_int, li.lod_add, li.lod_av1, cis" .  $from;

		$needingMart=!empty($show_LocusOfGene);
		if (!empty($condition) && is_array($condition)) foreach($condition as $c) {
			$needingMart=TRUE;
		}

//		if ($needingMart) {
 		if( false ){
		        $query .= " JOIN ensembl_mart_${ensemblversion}";
			if ($ensemblversion<27) $query .= "_1";
			$query .= ".";
			if ($ensemblversion<30) {
				$query .= "rnorvegicus_ensemblgene_xref_RefSeq_dm";
			}
			else {
				$query .= "rnorvegicus_gene_ensembl__xref_refseq_dna__dm";
			}
			$query .= " AS a ON a.";
			if ($ensemblversion<30) {
				$query .= "display_id";
			}
			else {
				$query .= "dbprimary_id";
			}
			$query .= "=LEFT(gene_assignment,(INSTR(gene_assignment,'.') - 1)) "
		        .          " JOIN ensembl_mart_${ensemblversion}";
			if ($ensemblversion<19) $query .= "_1";
			$query .= ".";
			if ($ensemblversion<30) {
				$query .= "rnorvegicus_ensemblgene_main";
			}
			else {
				$query .= "rnorvegicus_gene_ensembl__gene__main";
			}
			$query .= " AS b USING (";
			if ($ensemblversion<30) {
				$query .= "gene_id";
			}
			else {
				$query .= "gene_id_key";
			}
			$query .= ")";
		}
		if (!empty($locComb)) {
			if ("WHERE " != $where) $where .= " AND ";
			$where .= " li.locComb = ". $locComb ." ";
		}
		if (!empty($chrlist)) {
			if ("WHERE " != $where) $where .= " AND ";
			$where .= " (A.Chr in ('".join("','",preg_split("/[, ;]/",$chrlist))."') ";
			$where .= "  OR B.Chr in ('".join("','",preg_split("/[, ;]/",$chrlist))."')) ";
		}

		if (!empty($traitlist)) {
			if ("WHERE " != $where) $where .= " AND ";
			$where .= " Trait in ('".join("','",preg_split("/[, ;]/",$traitlist))."') ";
		}

		#
		#	Covariates - they are always queried
		# 

		if (DATABASEISUSINGSETSTOREPRESENTCOVARIATES) {
			if ("WHERE " != $where) $where .= " AND ";
			if (0==count($covariates)) {
				$where .= " covariates='' ";
			}
			else {
				$where .= " covariates='".join(",",$covariates)."' ";
			}
		}


		if (!empty($cMmin) && !empty($cMmax)) {
			if (!is_numeric($cMmin)) array_push($err,"The lower boundary in cMorgan positions for loci under investigation must be numeric ($cMmin).\n");
			if (!is_numeric($cMmax)) array_push($err,"The upper boundary in cMorgan positions for loci under investigation must be numeric ($cMmax).\n");
			if ("WHERE " != $where) $where .= " AND ";
			$where .= " (("
			        .       "(A.cMorgan BETWEEN ".$cMmin." AND ".$cMmax.") ";
			if (!empty($chrlist)) {
			  		$where .= " AND A.Chr in ('".join("','",preg_split("/[, ;]/",$chrlist))."') ";
			  		#$where .= " AND AlChr in ('".join("','",preg_split("/[, ;]/",$chrlist))."') ";
			}
			$where .= ") OR (";
			$where .= " (B.cMorgan BETWEEN ".$cMmin." AND ".$cMmax.")";
			if (!empty($chrlist)) {
				$where .= " AND B.Chr in ('".join("','",preg_split("/[, ;]/",$chrlist))."') ";
				#$where .= " AND BlChr in ('".join("','",preg_split("/[, ;]/",$chrlist))."') ";
			}
			$where .= ")) ";
		}
		else {
			if (!empty($cMmin)) {
				if (!is_numeric($cMmin)) array_push($err,"The lower boundary in cMorgan positions for loci under investigation must be numeric ($cMmin).\n");
				if ("WHERE " != $where) $where .= " AND ";
				$where .= " ((A.cMorgan >= ".$cMmin." ";
				if (!empty($chrlist)) {
					$where .= " AND A.Chr in ('".join("','",preg_split("/[, ;]/",$chrlist))."') ";
					#$where .= " AND AlChr in ('".join("','",preg_split("/[, ;]/",$chrlist))."') ";
				}
				$where .= ") OR (";
				$where .= " B.cMorgan >= ".$cMmin." ";
				if (!empty($chrlist)) {
					$where .= " AND B.Chr in ('".join("','",preg_split("/[, ;]/",$chrlist))."') ";
					#$where .= " AND BlChr in ('".join("','",preg_split("/[, ;]/",$chrlist))."') ";
				}
				$where .= "))";
			}
			if (isset($cMmax) and "" != "$cMmax") {
				if (!is_numeric($cMmax)) array_push($err,"The upper boundary in cMorgan positions for loci under investigation must be numeric ($cMmax).\n");
				if ("WHERE " != $where) $where .= " AND ";
				$where .= " ((A.cMorgan <= ".$cMmax." ";
				if (!empty($chrlist)) {
					$where .= " AND A.Chr in ('".join("','",preg_split("/[, ;]/",$chrlist))."') ";
				}
				$where .= ") OR (";
				$where .= " B.cMorgan <= ".$cMmax." ";
				if (!empty($chrlist)) {
					$where .= " AND B.Chr in ('".join("','",preg_split("/[, ;]/",$chrlist))."') ";
				}
				echo ") ";
			}
		}
		if (!empty($LODmin)) {
			if ("WHERE " != $where) $where .= " AND ";
			$where .= " lod_full >= ".$LODmin." ";
		}
		if (isset($LODmax) and "" != "$LODmax") {
			if ("WHERE " != $where) $where .= " AND ";
			$where .= " lod_full <= ".$LODmax." ";
		}
		if (!empty($quantilemin)) {
			if ("WHERE " != $where) $where .= " AND ";
			$where .= " lod_full >= ".$quantilemin." ";
		}
		if (isset($quantilemax) and "" != "$quantilemax" ) {
			if ("WHERE " != $where) $where .= " AND ";
			$where .= " lod_full <= ".$quantilemax." ";
		}
		if (!empty($locus)) {
			if ("WHERE " != $where) $where .= " AND ";
			$where .= " (A = '$locus' or B = '$locus' ) ";
		}
		if (!empty($LODdiffmin)) {
			if ("WHERE " != $where) $where .= " AND ";
			$where .= " lod_full >= ".$LODdiffmin." ";					#!!!!!!!!!!!!!!!!!!!
		}
		if (!empty($condition) && is_array($condition)) foreach($condition as $c) {
			if ("WHERE " != $where) $where .= " AND ";
			$where .= " ".$conditionList[$c]." ";
		}


		# adding long where clause
		if ("WHERE" != "$where") {
			$query .= " $where";
		}

		# continuing
		if (!empty($order)) {
			$query .= " ORDER BY ".$order." ";
		}
		if (!empty($limit)) {
			$query .= " LIMIT ".$limit." ";
		}

		if ($debug) {
			echo "query: $query<br>";
		}

		$result = mysqli_query($linkLocali,$query);
		if (empty($result)) {
			echo "<p>".mysqli_error()."</p>";
			mysqli_close($linkLocali);
			exit;
		}

		$rowno=0;
		echo "<small><table border=1>\n<thead>\n";
		while ($line = mysqli_fetch_array($result, MYSQL_ASSOC)) {
// 			if (!empty($_POST["debug"])) {
// 				echo "1; "; print_r($line); echo "<br>";
// 				echo "2; "; print_r($line); echo "<br>";
// 			}
			$copyOfLine=$line;

			#foreach($line as $myLine)echo $myLine." ";
			$rowno++;
			if (1==$rowno) {
				$firstRow=FALSE;
				echo "<tr bgcolor=yellow>";
				foreach($copyOfLine as $n=>$l) {
					$f="show_".$n;
// 					echo $f ."<br>";
					if (!empty($$f)) {
						echo "<th rowspan=2 class=c><small>$n</small></th>";
						if ("Trait"==$n && !empty($show_LocusOfGene)) {
							echo "<th rowspan=2 colspan=3 class=c><small>Trait<br>chr,band,start</small></th>";
						}
					}
				}
				echo "<th colspan=2 class=c>Public QTLs</th>";
				//if ($show_Plots)
				echo "<th rowspan=2 colspan=1 class=c>Plots</th>";
				echo "</tr>\n";
				echo "<tr><th bgcolor=orange>A</th><th bgcolor=orange>B</th></tr>";
				echo "</tr></thead>\n<tbody>\n";
			}


// 			echo "3; "; print_r($line); echo "<br>";
			$ca=$line["AChr"];
 			if (isset($ca)) {
 				$ca = $line["AlChr"];
 			}
			if (!isset($ca)) {
				$ca = $line["Chr_A"];
			}
 			if (!isset($ca)) {
				if (!empty($verbose)) {
					echo "<br>Could not retrieve value for Chromosome A, line is '";
					echo "4; "; print_r($line);
					echo "'<br>\n";
				}
 				//exit;
 			}
			else if (!empty($_POST["debug"])) {
				echo "ca=$ca<br>\n";
			}

			$cb=$line["BChr"];
 			if (!isset($cb)) {
 				$cb = $line["BlChr"];
 			}
			if (!isset($cb)) {
				$cb = $line["Chr_B"];
			}
 			if (!isset($cb)) {
				if (!empty($verbose)) {
					echo "<br>Could not retrieve value for Chromosome B, line is '";
					print_r($line);
					echo "'<br>\n";
				}
 				//exit;
 			}

			echo "<tr>";
			foreach($line as $n=>$l) {
				$f="show_".$n;
// 				echo $n." => ".$l."<br>";
				if (!empty($$f)) {
					if (!isset($l)||""==$l) echo "<td>&nbsp;</td>";
					else switch($n) {
						case "li_type":
							echo "<td><a href=\"interaction_collapsed?submitted=1&locComb=".$l."&type=&limit=150&show_LocusInteraction=on&show_LocusInteractionTrait=on&show_Affected_genes=on&show_Covariates=on&show_lod_full_span=on&show_lod_full_span=on&show_LOD_Diff=on&show_seqname=on\">".$l."</a></td>";
							break;
						case "No":
						case "Name_A":
						case "Name_B":
							echo "<td><a href=\"locus.php?Name=$l\">$l</a></td>";
							break;
						case "AlNo":
						case "BlNo":
						#case "AlName":
						#case "BlName":
							break;
			#.         ",A.lNo as AlNo,A.lName as AlName,A.lChr as AlChr,A.cMorgan as AlMorgan"
			#.         ",B.lNo as BlNo,B.lName as BlName,B.lChr as BlChr,B.cMorgan as BlMorgan";
						case "Trait":
							echo "<td align=right nowrap>"
							."<a href=\"trait.php?direct=1&traitlist=$l\">$l</a> ["
							."<a href=\"qtl.php?direct=1&traitlist=$l\">q</a>"
							."<a href=\"interaction.php?direct=1&traitlist=$l&type=X\">i</a>"
							."<a href=\"interaction.php?direct=1&traitlist=$l&type=Y\">j</a>"
							."]</td>";
							if (!empty($show_LocusOfGene)) {
								echo "<td>".$line["Trait_Chr"]."</td><td>"
								   .$line["Trait_band"]."</td><td>"
								   .$line["Trait_start"]
								   ."</td>";
							}
							break;
						case "Chr_A":
							echo "<td><a href=\"http://www.ensembl.org/$ensemblorganism/mapview?chr=$ca\">$l</a>";
							echo " <a href=\"http://www.ensembl.org/$ensemblorganism/syntenyview?otherspecies=Homo_sapiens&chr=$ca\">Hs</a></td>";
							break;
						case "Name_A":
						case "cMorgan_A":
						case "AlMorgan":
							echo "<td>";
							$cmA = $line["cMorgan_A"];
							if (empty($cb) || empty($cmA)) {
								echo "error";
							}
							else {
								echo 	"<a href=\"http://www.ensembl.org/".$ensemblorganism."/contigview?chr=".$ca
									."&vc_start=".cM2bp($ca,$cmA-100000)
									."&vc_end=".cM2bp($ca,$cmA+100000)
									."\">"
										.round($l,4)
									."</a>";
							}
							echo "</td>";
							break;
						case "Chr_B":
							echo "<td>";
							if (empty($cb)) {
								echo "error";
							}
							else {
								echo "<a href=\"http://www.ensembl.org/$ensemblorganism/mapview?chr=$cb\">$l</a>";
								echo " <a href=\"http://www.ensembl.org/$ensemblorganism/syntenyview?otherspecies=Homo_sapiens&chr=$cb\">Hs</a>";
							}
							echo "</td>";
							break;
						case "Name_B":
						case "cMorgan_B":
						case "BlMorgan":
							echo "<td>";
							$cmB = $line["cMorgan_B"];
							if (empty($cb) || empty($cmB)) {
								echo "error";
							}
							else {
								echo 	"<a href=\"http://www.ensembl.org/".$ensemblorganism."/contigview?chr=".$cb
									."&vc_start=".cM2bp($cb,$cmB-100000)
									."&vc_end=".cM2bp($cb,$cmB+100000)
									."\">"
										.round($l,4)
									."</a>";
							}
							echo "</td>";
							break;
						case "Accession":
							$b=explode(".",$l);
							echo "<td><a href=\"http://www.ensembl.org/$ensemblorganism/textview?species=$ensemblorganism&idx=Gene&q=".$b[0]."\">$l</a></td>";
							break;
						case "ProbeSequence":
							echo "<td><small><small>$l</small></small></td>";
							break;
						case "LOD":
						case "LODdiff":
							echo "<td>".round($l,4)."</td>";
							break;
						case "ensembl_stable_gene_id":
							echo "<td><a href=\"http://www.ensembl.org/$ensemblorganism/Gene/Summary?g=$l\">$l</a></td>";
							break;
						case "gene_name":
							echo "<td class=small>";
							$b=explode(".",$l);
							if ($ensemblversion>47) {
								echo "<a href=\"http://www.ensembl.org/$ensemblorganism/Search/Summary?species=Mus_musculus;idx=;q=";
							}
							else {
								echo "<a href=\"http://www.ensembl.org/$ensemblorganism/textview?species=$ensemblorganism&idx=Gene&q=";
							}
							echo $b[0];
							echo "\">$l</a></td>";
							break;
						case "covariates":
							if (empty($l)) $l="none";
							echo "<td class=small>$l</td>";
							break;
						case "Groups":
							# only one group per eQTL in current implementation
							# needs adjustment to look up names of group
							echo "<td>";
							if (!empty($l)) {
							     echo "<a href=\"http:interaction.php?groups=$l\">$l</a>";
							}
							echo "</td>";
							break;
						default:
							echo "<td>$l</td>";
					}
				}
			}
			#print_r($line);
			foreach (
				array("Chr_A"=>"cMorgan_A","Chr_B"=>"cMorgan_B")
				#array("AlChr"=>"AcMorgan","BlChr"=>"BcMorgan")
				as $a1=>$a2)
			{
				$c=$line[$a1];
				#echo "c=$c";
				$bp=cM2bp($line[$a1],$line[$a2]);
				echo "<td>";
				$qs=withinthefollowingqtls($line[$a1],$bp,$qtls);
				if (0==count($qs)) {
					echo "&nbsp;";
				}
				else {
					echo join(",",$qs);
				}
				echo "</td>";
			}
			// if ($show_Plots) {
			echo "<td class=small><small>";
			echo "<a href=\"effectplot.php?traitlist=".$line["Trait"]."&cM=".$line["cMorgan_A"]."&cM2=".$line["cMorgan_B"]
							."&chromosome=".$line["Chr_A"]."&chromosome2=".$line["Chr_B"]
							."&work=scantwo&unit=cM&inlineImages=1"
							."&direct=1\">effectplot</a>";
			echo " (<a href=\"effectplot.php?traitlist=".$line["Trait"]."&cM=".$line["cMorgan_A"]
							."&chromosome=".$line["Chr_A"]
							//."&work=scanone"
							."&unit=cM&inlineImages=1"
							."&direct=1\">locus A</a>";
			echo ", <a href=\"effectplot.php?traitlist=".$line["Trait"]."&cM=".$line["cMorgan_B"]
							."&chromosome=".$line["Chr_B"]
							//."&work=scanone"
							."&unit=cM&inlineImages=1"
							."&direct=1\">locus B</a>)";
			echo ", <a href=\"effectplot.php?traitlist=".$line["Trait"]
							."&work=scantwo&unit=cM&inlineImages=1"
							."&direct=1\">scantwo</a>";
			echo ", <a href=\"effectplot.php?traitlist=".$line["Trait"]
							."&work=scanone&unit=cM&inlineImages=1"
							."&direct=1\">scanone</a>";
			echo "</small></td>";
			// }
			echo "</tr>\n";
		}
		echo "</tbody></table>";
		if (0==$rowno) {
			echo "<p>No records found matching criteria.</p>";
		}
		else {
			echo "<p>$rowno record".($rowno>1?"s":"")." found matching criteria.</p>";
		}
		echo "</small>";
		mysqli_free_result($result);
		mysqli_close($linkLocali);
	}

	include("footer.php");

/*

=head1 AUTHOR

Steffen ME<ouml>ller <moeller@inb.uni-luebeck.de>

=head1 COPYRIGHT

Universities of Rostock and LE<uuml>beck, Germany, 2003-2009

=cut

*/

?>
