<?php

	require_once("header.php");
	require_once("func_covariates.php");
	require_once("func_selection.php"); // prints part of the HTML for forms

	show_small_header("Tabular overview on Expression QTL",TRUE);

	$database="DATABASEEQTLNAME";
	include_once("func_connect.php");

	# fields that should appear
	$dataSelectionFieldsQTL = array(
		"groups",
		"Chromosome","ensemblversion",
		"cM_within","LODmax","LODmin",
		"quantilemin","quantilemax",
		"qtl_covariates",
		"LODdiffmin","LODdiffmax",
		"PvalueMin","PvalueMax",
		"cM_Peak_Min","cM_Peak_Max",
		"MeanMin","MeanMax","SdMin","SdMax",
		"locus","chrlist", "condition"
	);



	$accessible_fields_in_POST_or_GET = array_merge (
		array("submitted"),
		$dataSelectionFieldsQTL
	);

	foreach($accessible_fields_in_POST_or_GET as $vname)
	{
		if (isset($_POST[$vname])) {
			$$vname = $_POST[$vname];
			if (isset($_POST["debug"]) or isset($_GET["debug"])) {
				echo $vname."=".$$vname."\t";
			}
		}
		elseif(isset($_GET[$vname])) {
			$$vname = $_GET[$vname];
			if (isset($_POST["debug"]) or isset($_GET["debug"])) {
				echo $vname."=".$$vname."\t";
			}
		}
	}



	if (empty($submitted)) {

		#
		#   S E T T I N G  O F  P A R A M E T E R S 
		#


	
		echo "<form action=overview.php method=post>\n";
		echo "<input type=hidden name=submitted value=1>\n";
		echo "<table>\n";
		print_selection_form("table_overview_scanone");
		echo "<tr><th>Covariates of stored QTL</th><td>";
		select_covariates_combinations();
		echo "<tr><td>&nbsp;</td><td></td></tr>\n";
		echo "<tr><td align=right><input type=submit></td><td align=left><input type=reset></td></tr>\n";
		echo "</table>\n";
		echo "</form>\n";

	}
	else {

		#
		#   P R E P A R A T I O N  O F  T A B L E
		#

		if (empty($qtl_covariates) or 0 == count($qtl_covariates)) {
			echo "<p>No list of covariate combinations offered, falling back to default list.</p>\n";
			$qtl_covariates = array("","eae_add","eae_int","dud_int");
		}

		$where = "WHERE";

		if (!empty($qtl_covariates)) {
			if ("WHERE" != "$where") $where .= " AND ";
			$where .= " covariates in ('".join("','",$qtl_covariates)."') ";
		}

		if (!empty($PvalueMin)) {
			if ("WHERE" != "$where") $where .= " AND ";
			$where .= " qtl.pvalue >= $PvalueMin ";
		}
		if (!empty($PvalueMax)) {
			if ("WHERE" != "$where") $where .= " AND ";
			$where .= " qtl.pvalue <= $PvalueMax ";
		}

		if (!empty($LODmin)) {
			if ("WHERE" != "$where") $where .= " AND ";
			$where .= " qtl.LOD >= $LODmin ";
		}
		if (!empty($LODmax)) {
			if ("WHERE" != "$where") $where .= " AND ";
			$where .= " qtl.LOD <= $LODmax ";
		}

		$query = "SELECT covariates,locus.chr,count(*) as numTraits,sum(cis) as numCis "
			#. ", (numTraits - numCis) as numTrans
			." FROM qtl join locus on qtl.Locus = locus.Name ";
		if ("WHERE" != "$where") $query .= " $where ";
		$query .= " GROUP BY covariates,locus.chr
			   LIMIT 100 ";

		print_r($query);
		echo "<br>";

		$result = mysql_query($query,$linkLocal);
		if (empty($result)) {
			errorMessage(mysql_error($linkLocal)."</p><p>".$query."</p>");
			//echo "LinkLocal: "; print_r($linkLocal);
			mysql_close($linkLocal);
			exit;
		}

		$dataFromTable = array();
		while ($line = mysql_fetch_array($result, MYSQL_ASSOC)) {
			if (empty($dataFromTable[$line["covariates"]])) {
				$dataFromTable[$line["covariates"]] = array();
			}
			$dataFromTable[$line["covariates"]][$line["chr"]]=array("numTraits"=>$line["numTraits"],
							"numCis"=>$line["numCis"],
							"numTrans"=>($line["numTraits"]-$line["numCis"]));
		}

		//print_r($dataFromTable);

		$orderOfChromosomes = array();
		for($i=1; $i<=20; $i++) {
			$orderOfChromosomes[]="$i";
		}
		$orderOfChromosomes[]="X";

		echo "<table border=0 cellspacing=2>";
		//echo "<colgroup>"; # chr
		echo "<tr><td colspan=\"".(1+(1+2)*count($qtl_covariates))."\" bgcolor=\"black\"></td></tr>\n";
		echo "<tr>";
		echo "<td rowspan=2 valign=top align=right></td>";
		foreach ($qtl_covariates as $cov) {
			//echo "<colgroup span=2 cellspacing=10>"; # respective cov
			echo "<td>&nbsp;</td><td colspan=2 align=center>"
				.(empty($cov)?"transcript":preg_replace("/,/"," ",displayCovariates($cov)))
			    ."</td>";
		}
		echo "</tr>\n<tr>";
		$totals=array();
		foreach ($qtl_covariates as $cov) {
			$totals[$cov]=array("cis"=>0,"trans"=>0);
			echo "<td></td><td bgcolor=\"black\" colspan=2></td>";
		}
		echo "</tr>\n<tr>";
		echo "<td align=left valign=bottom>Chromosome</td>";
		foreach ($qtl_covariates as $cov) {
			echo "<td></td><td align=right>cis</td><td align=right>trans</td>";
		}
		echo "</tr>\n";
		/* -- a solid line is correct
		echo <tr>";
		echo "<td bgcolor=\"black\"></td>";
		foreach ($qtl_covariates as $cov) {
			echo "<td></td>";
			echo "<td bgcolor=\"black\"></td>";
			echo "<td bgcolor=\"black\"></td>";
		}
		echo "</tr>\n";
		*/
		echo "<tr><td colspan=\"".(1+(1+2)*count($qtl_covariates))."\" bgcolor=\"black\"></td></tr>\n";
		foreach ($orderOfChromosomes as $c) {
			echo "<tr>";
			echo "<td align=right>$c&nbsp;&nbsp;&nbsp;&nbsp;</td>";
			foreach ($qtl_covariates as $cov) {
				$d=$dataFromTable[$cov][$c];
				if (empty($d)) {
					echo "<td></td><td></td><td></td>";
				}
				else {
					echo "<td></td>";
					echo "<td align=right>".$d["numCis"]."</td><td align=right>".$d["numTrans"]."&nbsp;&nbsp;</td>";
					$totals[$cov]["cis"]   += $d["numCis"];
					$totals[$cov]["trans"] += $d["numTrans"];
				}
			}
			echo "</tr>\n";
		}
		echo "<tr><td colspan=\"".(1+(1+2)*count($qtl_covariates))."\" bgcolor=\"black\"></td></tr>\n";
		echo "<tr><td align=center>Totals</td>";
		foreach ($qtl_covariates as $cov) {
			echo "<td></td>";
			echo "<td align=right>".$totals[$cov]["cis"]  ."</td>";
			echo "<td align=right>".$totals[$cov]["trans"]."</td>";
		}
		echo "</tr>\n";
		echo "<tr><td colspan=\"".(1+(1+2)*count($qtl_covariates))."\" bgcolor=\"black\"></td></tr>\n";
		echo "<caption align=bottom>The table shows the number of cis- and trans-regulated genes for every chromosome (rows) for a selection of covariates (column pairs).";
		if (!empty($PvalueMin) or !empty($LODmin))
		echo " Expression QTL were selected to have ";
		$numStatements=0;
		if (!empty($PvalueMin)) {
			if (0<$numStatements) echo ", ";
			echo " a P-value above $PvalueMin";
			$numStatements++;
		}
		if (!empty($PvalueMax)) {
			if (0<$numStatements) echo ", ";
			echo " a P-value below $PvalueMax";
			$numStatements++;
		}
		if (!empty($LODmin)) {
			if (0<$numStatements) echo ", ";
			echo "a LOD score above $LODmin";
			$numStatements++;
		}
		if (!empty($LODmax)) {
			if (0<$numStatements) echo ", ";
			echo "a LOD score below $LODmax";
			$numStatements++;
		}
		echo ".";
		echo "</caption>";
		echo "</table>";
	}

?>
