<?php
	TEMPLATEWARNINGHASH

/**
STARTOFDOCUMENTATION

=head1 NAME

phen.php - access data via covariates

=head1 SYNOPSIS

a dynamic web page to be called only from the web server

=head1 DESCRIPTION

The covariates are of interest per se - since this is the
effect that one aims to reduce/increase with whatever 
functional compounds that may be developed.

The traits and the expression QTL are ranked for their 
statistical association with the phenotype.

A primary focus of this form is to link the phenotypes
to the expression-traits/genes.


=head1 AUTHOR

Steffen ME<ouml>ller <moeller@inb.uni-luebeck.de>

=head1 COPYRIGHT

Universities of Rostock and LE<uuml>beck, Germany, 2003-2009

=cut

ENDOFDOCUMENTATION
*/

	require_once("header.php");
	require_once("func_covariates.php");
	require_once("func_phenotypes.php");
	require_once("func_selection.php"); // prints parts of the HTML for forms

	show_small_header("Classical phenotypes as covariates",TRUE);
	$err=array();
	$conditionList=array(
		"Equal Chromosomes" => array(
			"constraint"=>"seqname = Chromosome",
			"description"=>"The QTL and the gene it controls are on the same chromosome"
		),
		"Unequal Chromosomes" => array(
			"constraint"=>"seqname != Chromosome",
			"description"=>"The QTL and the gene it controls are on different chromosomes"
		),
		"Within classical QTL" => array(
			"constraint"=>"manual",
			"description"=>"The peak of the e-QTL overlaps with a classical QTL (true for all entries in this table)"
		),
	);

	$database="DATABASEEQTLNAME";
	include("func_connecti.php");

	$dataSelectionFieldsQTL = array(
		"show_LocusOfGene", "show_Covariates",
		"Chromosome","ensemblversion",
		"cM_within","LODmax","LODmin",
		"quantilemin","quantilemax",
		"covariates",
		"LODdiffmin","LODdiffmax",
		"cM_Peak_Min","cM_Peak_Max",
		"MeanMin","MeanMax","SdMin","SdMax",
		"MedianMin","MedianMax","VarianceMin","VarianceMax",
		"locus","chrlist", "condition"
	);

	$accessible_fields_in_POST_or_GET = array_merge(
		$dataSelectionFieldsQTL,

		array(  "cisOrTrans" ),	# if unset, show all
		array(  "direct","phen",
			"debug",
			"submitted",
			"onlyNumbers",
			"onlyNumbersGrouped"
		),

		array(  "show_Trait",
			"show_LocusOfGene",
			"show_ExpressionOfGene",
			"show_Locus",
			"show_LOD",
			"show_LODdiff",
			"show_Quantile",
			"show_Covariates",
			"show_Chromosome",
			
			"show_name",
			"show_mean",
			"show_sd",
			"show_unigene",
			"show_swissprot_ID",
			"show_gene_assignment",
			"show_first_symbol",
			"show_Description",
			"show_ProbeSequence",

			"traits",
			"traitlist",
			"limit", # truly used
			"order"
		),
		
			convert_string_to_covariates_array(strtolower("qtl"))
		);

	if (isset($_POST["debug"]) or isset($_GET["debug"])) {
		echo "<br>Retrieving info for: "; print_r($accessible_fields_in_POST_or_GET); echo "<br>\n";
	}
			
	foreach($accessible_fields_in_POST_or_GET as $vname)
	{
		if (isset($_POST[$vname])) {
			$$vname = $_POST[$vname];
			if (isset($_POST["debug"]) or isset($_GET["debug"])) {
				echo $vname."=".$$vname."\t";
			}
		}
		elseif(isset($_GET[$vname])) {
			$$vname = $_GET[$vname];
			if (isset($_POST["debug"]) or isset($_GET["debug"])) {
				echo $vname."=".$$vname."\t";
			}
		}
	}

	if (!empty($direct)) {
		foreach($a as $i=>$v) {
			$n="show_".$i;
			$$n=$v;
		}
	}

	echo '<form id=mainform action="phen.php" method="post">'."\n";
	echo '<input type=hidden name=submitted value=1>'."\n";

	echo "<table>";
	print_selection_form($linkLocali,"all_qtl_phen"); 
	echo "<tr><td><input type=submit></td></tr>";
	echo "</table>";
	if (empty($phen)) {
		$phenotypes=list_phenotypes($linkLocali);
	}
	else {
		$phenotypes=preg_split("/,/",$phen);
	}

	if(count($phenotypes)>0) {
		echo "<a name=\"top\" />Phenotypes: ";
		foreach($phenotypes as $n=>$p) {
			if ($n>0) echo ", ";
			echo "<a href=\"#$p\">$p</a>";
		}
	}

	if (empty($limit)) {
		$limit=25;
	}

	echo "<table width=100%>";

	foreach ($phenotypes as $n=>$p) {
		if (0==$n%2) {
			if (0 <$n) {
				echo "</tr>\n";
			}
			echo "<tr>";
		}
		echo "<a name=\"$p\" />";
		echo "<table width=100%><tr><th colspan=2 align=center><a href=\"http:phen.php?phen=$p&limit=500\">$p</a> - <a href=\"#top\">top</a></th></tr>";
		echo "<tr><th>DESC</th><th>ASC</th></tr>\n";
		echo "<tr>";
		$os=array("DESC","ASC");
		foreach ($os as $o) {
			echo "<td width=50% valign=top>";
			$where = "WHERE phen='$p' ";


			if (!empty($phen)) {
				$p = preg_split("/,/",$phen);
				if (1 == count($p)) {
					$where .= " AND phen = '$phen' ";
				}
				else if (0 < count($p)) {
					$where .= " AND phen in '".join("','",$p)."' ";
				}
			}

			if (!empty($traits)) {
				$traitsArray=preg_split("/[, \t\n]+/",$traits);
				if ("WHERE " != $where) $where .= " AND ";
				$where .= " TRAITSDETAILSCHIPDATA.probeset_id IN ('".join("','",$traitsArray)."') ";
			}

			if( !empty($MedianMin) ) {
				if ("WHERE " != $where) $where .= " AND ";
				$where .= " median >= ".$MedianMin;
			}

			if( !empty($MedianMax) ) {
				if ("WHERE " != $where) $where .= " AND ";
				$where .= " median <= ".$MedianMax;	
			}

			if( !empty($MeanMin) ) {
				if ("WHERE " != $where) $where .= " AND ";
				$where .= " mean >= ".$MeanMin;	
			}

			if( !empty($MeanMax) ) {
				if ("WHERE " != $where) $where .= " AND ";
				$where .= " mean <= ".$MeanMax;
			}

			if( !empty($SdMin) ) {
				if ("WHERE " != $where) $where .= " AND ";
				$where .= " sd >= ".$SdMin;
			}

			if( !empty($SdMax) ) {
				if ("WHERE " != $where) $where .= " AND ";
				$where .= " sd <= ".$SdMax;
			}

			if( !empty($VarianceMin) ) {
				if ("WHERE " != $where) $where .= " AND ";
				$where .= " variance >= ".$VarianceMin;
			}

			if( !empty($VarianceMax) ) {
				if ("WHERE " != $where) $where .= " AND ";
				$where .= " variance <= ".$VarianceMax;
			}


			$queryAllCorrelations = "SELECT trait_phen_cor.trait_id,trait.gene_name,trait.chromosome,rho,p "
				 ." FROM trait_phen_cor "
				 ." right join trait using(trait_id) "
				 ." $where "
				 ." ORDER BY rho $o " ."LIMIT $limit"
				 ." ; "
			;

			if (false and $verbose) {
				echo "Query: '$queryAllCorrelations'<br>";
			}

			if (! $result = mysqli_query($linkLocali,$queryAllCorrelations)) {
				#print_r($result);
				errorMessage(mysqli_error($linkLocali)."</p><p>".$queryAllCorrelations."</p>");
				mysqli_close($linkLocali);
				exit;
			}
			echo "<table border=1 width=100%>";
			echo "<tr><th>Probe</th><th>Gene Name</th><th>Chr</th><th>&rho;</th><th>P</th></tr>\n";
			while($line=mysqli_fetch_array($result, MYSQL_ASSOC)) {
				if (false) {
					echo "{<a href=\"http:trait.php?traits=".$line["trait_id"]."\">".$line["trait_id"]."</a>"
					   . "=[".$line["gene_name"]."@".$line["chromosome"]."] : ";
					echo round($line["rho"],3)." (".round($line["p"],5).")} \n";
				}
				echo "<tr>";
				echo "<td><a href=\"http:trait.php?traits=".$line["trait_id"]."\">".$line["trait_id"]."</a></td>"
				   . "<td>".$line["gene_name"]."</td><td>".$line["chromosome"]."</td><td>";
				echo round($line["rho"],3)."</td><td>".round($line["p"],5)."</td>";
				echo "</tr>\n";
			}
			mysqli_free_result($result);
			echo "</table>";
			echo "</td>";
		}

		echo "</tr>";
		echo "</table>";
	}

	echo "</tr>\n</table>\n";

	echo "</form>\n";

	mysqli_close($linkLocal);
	include("footer.php");
?>
</body>
</html>
