<?php
	TEMPLATEWARNINGHASH

/**
STARTOFDOCUMENTATION

=head1 NAME

qtl_groups.php - display of groups of expression QTL

=head1 SYNOPSIS

a dynamic web page to be called only from the web server

=head1 DESCRIPTION

When inspecting a classical QTL, it is likely to find multiple
genes to be associated with the locus. Further inspections should
then be formed on that set of eQTL, them being understood as
a group. This web page caters for that point of view. To many,
it is represents the main entry ot the data.

=head1 AUTHOR

Steffen Moeller <moeller@inb.uni-luebeck.de>

=head1 COPYRIGHT

Universities of Rostock and Luebeck, 2003-2009

=cut

ENDOFDOCUMENTATION
*/

	require_once("header.php");
	require_once("func_covariates.php");
	require_once("func_conditions.php");
	require_once("func_selection.php"); // prints parts of the HTML for forms

	show_small_header("Expression QTL describing classical QTL",TRUE);
	$err=array();
	$conditionList=array(
		"cis-acting" => array(
			"constraint"=>"cis=1",
			"description"=>"Gene located within flanking markers"
		),
		"trans-acting" => array(
			"constraint"=>"cis=0",
			"description"=>"Gene located outside flanking markers or on other chromosome"
		)
/*
		,
		"Equal Chromosomes" => array(
			"constraint"=>"seqname = Chromosome",
			"description"=>"The QTL and the gene it controls are on the same chromosome"
		),
		"Unequal Chromosomes" => array(
			"constraint"=>"seqname != Chromosome",
			"description"=>"The QTL and the gene it controls are on different chromosomes"
		)
		,
		"Within classical QTL" => array(
			"constraint"=>"manual",
			"description"=>"The peak of the e-QTL overlaps with a classical QTL (true for all entries in this table)"
		)
*/
	);


	function qtlGroupHtmlRef($group_id,$group_name,$covariates,$direct=TRUE) {

		global $LODmin, $LODmax, $MeanMin, $MeanMax, $SdMin, $SdMax;

		$r  =  "<a href=\"http:qtl.php?groups=".$group_id;
		if (!empty($covariates)) {
			$r .= "none"==$covariates?"&covariates=none":"&covariates=$covariates";
		}
		if ($direct) {
			$r .= "&show_Trait=1&show_Chromosome=1&show_ExpressionOfGene=1&show_Locus=1&show_LOD=1&submitted=1";
		}
		$vars = array("LODmin","LODmax","MeanMin","MeanMax","SdMin","SdMax");
		foreach($vars as $v) {
			if (!empty($$v)) $r .= "&$v=".$$v;
		}
		$r .= "\">";
		$r .= $group_name."</a>";
		return($r);
	}

	$database="DATABASEEQTLNAME";
	include("func_connect.php");

	$dataSelectionFieldsQTL = array(
		"show_LocusOfGene", "show_Covariates",
		"Chromosome","ensemblversion",
		"cM_within","LODmax","LODmin",
		"quantilemin","quantilemax",
		"covariates",
		"LODdiffmin","LODdiffmax",
		"cM_Peak_Min","cM_Peak_Max",
		"MeanMin","MeanMax","SdMin","SdMax",
		"locus","chrlist",
		"condition"
	);

	$accessible_fields_in_POST_or_GET = array_merge(
		$dataSelectionFieldsQTL,

		array(  "cisOrTrans" ),	# if unset, show all
		array(  "direct",
			"debug",
			"submitted",
			"onlyNumbers",
			"onlyNumbersGrouped"
		),

		array(  "show_Trait",
			"show_LocusOfGene",
			"show_ExpressionOfGene",
			"show_Locus",
			"show_LOD",
			"show_LODdiff",
			"show_Quantile",
			"show_Covariates",
			"show_Chromosome",
			
			"show_name",
			"show_mean",
			"show_sd",
			"show_unigene",
			"show_swissprot_ID",
			"show_gene_assignment",
			"show_first_symbol",
			"show_Description",
			"show_ProbeSequence",

			"traits",
			"traitlist",
			"limit","order"
		),
		
			convert_string_to_covariates_array(strtolower("qtl"))
		);

	if (isset($_POST["debug"]) or isset($_GET["debug"])) {
		echo "<br>Retrieving info for: "; print_r($accessible_fields_in_POST_or_GET); echo "<br>\n";
	}
			
	foreach($accessible_fields_in_POST_or_GET as $vname)
	{
		if (isset($_POST[$vname])) {
			$$vname = $_POST[$vname];
			if (isset($_POST["debug"]) or isset($_GET["debug"])) {
				echo $vname."=".$$vname."\t";
			}
		}
		elseif(isset($_GET[$vname])) {
			$$vname = $_GET[$vname];
			if (isset($_POST["debug"]) or isset($_GET["debug"])) {
				echo $vname."=".$$vname."\t";
			}
		}
	}

	if (isset($_POST["debug"]) or isset($_GET["debug"])) {
		echo "<br>\n";
		echo "eae: "; print_r($eae);
		echo "sum: "; print_r($sum);
		echo "<br>\n";
	}

	$a=array("Trait"=>1, "LocusOfGene"=>1, "ExpressionOfGene" => 1, "Locus"=>1,
		"LOD"=>1,"LODdiff"=>1,"Quantile"=>1,
		"Covariates"=>1,
		"Chromosome"=>1, "cMorgan_Peak"=>1, "cMorgan_Min"=>1, "cMorgan_Max"=>1,
		"Analysis"=>1, "Gid"=>0, "swissprot_ID"=>1, "gene_assignment"=>1, "first_symbol"=>1,
		"Definition"=>1, "ProbeSequence"=>0);

	if (!empty($direct)) {
		foreach($a as $i=>$v) {
			$n="show_".$i;
			$$n=$v;
		}
	}

	echo '<form action="qtl_groups.php" method="post">'."\n";
	echo '<input type=hidden name=submitted value=1>'."\n";

	echo "<table width=100% border=0><tr><td>";
	echo "<table border=0>\n";
	print_selection_form("all_qtl_groups");
	echo "</table>\n";
	echo "</td><td rowspan=2>Select minimal LOD score:<br>";
	for($lod=3.5; $lod<15; $lod++) {
		if (!empty($LODmin) and $lod==$LODmin) echo "<b><font size=+2>";
		echo "<a href=\"http:qtl_groups.php?LODmin=$lod";
		foreach(array("MeanMin","MeanMax","SdMin","SdMax") as $f) {
			if (!empty($$f)) {
				echo "&".$f."=".$$f;
			}
		}
		echo "\">$lod</a>";
		if (!empty($LODmin) and $lod==$LODmin) echo "</font></b>";
		echo "\n";
	}
	echo "</td><td rowspan=2>";
	print_condition_form_element($conditionList,"Select if cis- or trans-acting <i>(not yet implemented)</i>",$condition);
	echo "</td></tr>";
	echo "<tr><td><input type=submit></td></tr>";
	echo "</table>\n";

	$queryAllGroupsSelect = "SELECT "
			      . "qtl_id,qq.name,covariates,qq.source,qq.trait,start_cm,stop_cm,start_bps,stop_bps,locus.chr,"
			      . "count(*) as c ";

	$queryAllGroupsFrom   = "FROM qtl_groups left join qtl.eae_qtl as qq on qtl_id=qq.entry ";
	$queryAllGroupsFrom  .= "left join locus on locus_id=No join qtl on locus.Name=qtl.Locus ";
	if (!empty($MeanMin) or !empty($MeanMin) or !empty($SdMin) or !empty($SdMin)) {
		$queryAllGroupsFrom  .= "join trait on qtl.Trait=trait.trait_id ";
	}


	$queryAllGroupsWhere .= "WHERE species='ENSEMBLSPECIESDB' ";

	if (!empty($LODmin) and !empty($LODmax)) {
		// if ($debug) echo "<p>Constraint: QTL LOD scores between $LODmin and $LODmax.</p>";
		$queryAllGroupsWhere .= " AND $LODmin <= LOD AND LOD <= $LODmax ";
	}
	elseif(!empty($LODmin)) {
		// if ($debug) echo "<p>Constraint: QTL LOD scores &gt;= $LODmin.</p>";
		$queryAllGroupsWhere .= " AND $LODmin <= LOD ";
	}
	elseif(!empty($LODmax)) {
		// if ($debug) echo "<p>Constraint: QTL LOD scores &lt;= $LODmax.</p>";
		$queryAllGroupsWhere .= " AND LOD <= $LODmax ";
	}
	else {
		echo "No LOD constraint defined.<br>\n";
	}


	if (!empty($MeanMin) and !empty($MeanMax)) {
		// if ($debug) echo "<p>Constraint: mean expression levels between $MeanMin and $MeanMax.</p>";
		$queryAllGroupsWhere .= " AND $MeanMin <= mean AND mean <= $MeanMax ";
	}
	elseif(!empty($MeanMin)) {
		// if ($debug) echo "<p>Constraint: mean expression levels &gt;= $MeanMin.</p>";
		$queryAllGroupsWhere .= " AND $MeanMin <= mean ";
	}
	elseif(!empty($MeanMax)) {
		// if ($debug) echo "<p>Constraint: mean expression levels &lt;= $MeanMax.</p>";
		$queryAllGroupsWhere .= " AND mean <= $MeanMax ";
	}
	else {
		echo "No Mean expression level constraint defined.<br>\n";
	}


	if (!empty($SdMin) and !empty($SdMax)) {
		// if ($debug) echo "<p>Constraint: sd of expression levels between $SdMin and $SdMax.</p>";
		$queryAllGroupsWhere .= " AND $SdMin <= sd AND sd <= $SdMax ";
	}
	elseif(!empty($SdMin)) {
		// if ($debug) echo "<p>Constraint: sd of expression levels &gt;= $SdMin.</p>";
		$queryAllGroupsWhere .= " AND $SdMin <= sd ";
	}
	elseif(!empty($SdMax)) {
		// if ($debug) echo "<p>Constraint: sd of expression levels &lt;= $SdMax.</p>";
		$queryAllGroupsWhere .= " AND sd <= $SdMax ";
	}
	else {
		echo "No SD constraint defined.<br>\n";
	}

	$queryAllGroupsRest = " GROUP BY qtl_id,qq.name,covariates ORDER BY qtl_id,c DESC,covariates";

	$queryAllGroups = "$queryAllGroupsSelect $queryAllGroupsFrom $queryAllGroupsWhere $queryAllGroupsRest";

	echo "<p>Query: $queryAllGroups</p>";

	$result = mysql_query($queryAllGroups);
	if (empty($result)) {
		errorMessage(mysql_error($linkLocal)."</p><p>".$queryAllGroups."</p>");
		mysql_close($linkLocal);
		//echo "LinkLocal: "; print_r($linkLocal);
		exit;
	}
	echo "<table border=1>";
	echo "<tr>";
	echo "<th rowspan=2 bgcolor=\"lightgreen\">QTL name<br>(id)</th>";
	echo "<th colspan=3>Covariates (Number of Traits)</th></tr>";
	echo "<tr><th>Location (chr:bp-range)</th><th>Source</th><th>c-Trait</th>";
	echo "</tr>\n";
	$first=TRUE;
	$prevGroupname="@@@@NOT@@@@IN@@@@DATABASE@@@@";
	$chr=array();
	$prevTrait="";
	$prevSource="";
	while ($line = mysql_fetch_array($result, MYSQL_ASSOC)) {
		if ("$prevGroupname" != $line["qtl_id"]) {
			if (!$first) {
				#print_r($line);
				echo "</td></tr>";
				$cs=array_unique($chr);
				echo "<tr bgcolor=lightyellow><td>";
				echo "Chromosome".(count($cs)>1?"s":"")." ";
				echo join(",",$cs)."</td><td>$prevSource</td><td>$prevTrait</td>";
				echo "</tr>\n";
				$chr = array();
			}
			elseif ($first) {
				$first=FALSE;
			}
			echo "<tr>";
			echo "<td rowspan=2>";
			echo "<input type=checkbox name=group value=".$line["qtl_id"].">";
			echo qtlGroupHtmlRef($line["qtl_id"],$line["name"],"");
			echo "<br>(".$line["qtl_id"].")";
			echo "</td>";
			#."<td>".$line["chr"]."</td>";
			echo "<td colspan=3>";
		}
		else {
			echo ", ";
		}
		$cc=$line["covariates"];
		array_push($chr,$line["chr"].":".$line["start_bps"]."-".$line["stop_bps"]);
		if ("" == "$cc") $cc="none";

		echo qtlGroupHtmlRef(
				$line["qtl_id"],
				displayCovariates($cc),
				$cc);

		echo "(".$line["c"].")";
		#$prevGroupname=$line["name"];
		$prevGroupname=$line["qtl_id"];
		$prevTrait=$line["trait"];
		$prevSource=$line["source"];
	}
	if ($first) {
		echo "<tr><td colspan=2>NO ENTRIES FOUND for query: '$queryAllGroups'</td></tr>\n";
	}
	else {
		echo "</td></tr>";
		$cs=array_unique($chr);
		echo "<tr bgcolor=lightyellow>";
		echo "<td>";
		echo "Chromosome".(count($cs)>1?"s":"")." ";
		echo join(",",array_unique($chr));
		echo "</td>";
		echo "<td>$prevSource</td>";
		echo "<td>$prevTrait</td>";
		echo "</tr>\n";
	}
	echo "</table>";
	echo "</form>";

	if (!empty($result)) mysql_free_result($result);
	mysql_close($linkLocal);
	include("footer.php");
?>
</body>
</html>
