<?php

	TEMPLATEWARNINGHASH

/*

=head1 venn

The script prepares for the display of genes that are regulated by the same loci across multiple phenotypes. This way, the traits that are unique to a subset of phens can be identified.

=over 4

=item covariates

=item chromosomes

not yet implemented

=item location in classical disease qtl

not yet implemented

=back

=head1 AUTHORS

Steffen ME<ouml>ller <moeller@inb.uni-luebeck.de>,
ME<acute>lanie ThessE<eacute>n-Hedreul

=head1 COPYRIGHT

University of LE<uuml>beck, 2009

=cut

*/

	require_once("header.php");
	require_once("func_covariates.php");
	require_once("func_selection.php"); // prints part of the HTML for forms

	show_small_header("Venn diagrams on e-QTL for the same trait between covariates",TRUE);

	$database="DATABASEEQTLNAME";
	include_once("func_connect.php");
	require_once("func_public_qtl.php");

	# fields that should appear
	$dataSelectionFieldsQTL = array(
		"groups",
		"Chromosome","ensemblversion",
		"cM_within","LODmax","LODmin",
		"quantilemin","quantilemax",
		"qtl_covariates",
		"cqtl",
		"LODdiffmin","LODdiffmax",
		"PvalueMin","PvalueMax",
		"cM_Peak_Min","cM_Peak_Max",
		"MeanMin","MeanMax","SdMin","SdMax",
		"cistrans",
		"locus","chrlist", "condition"
	);



	$accessible_fields_in_POST_or_GET = array_merge (
		array("submitted","inlineImages","rerunAnalyses","verbose"),
		$dataSelectionFieldsQTL
	);

	foreach($accessible_fields_in_POST_or_GET as $vname)
	{
		if (isset($_POST[$vname])) {
			$$vname = $_POST[$vname];
			if (isset($_POST["debug"]) or isset($_GET["debug"])) {
				echo $vname."=".$$vname."\t";
			}
		}
		elseif(isset($_GET[$vname])) {
			$$vname = $_GET[$vname];
			if (isset($_POST["debug"]) or isset($_GET["debug"])) {
				echo $vname."=".$$vname."\t";
			}
		}
	}



	if (empty($submitted)) {

		#
		#   S E T T I N G  O F  P A R A M E T E R S 
		#

		echo "<form action=venn.php method=post>\n";
		echo "<input type=hidden name=submitted value=1>\n";

		echo "<table><tr>"; # the table has only a single row

		echo "<td valign=top>"; # entry of typical filter attributes - left hand side

		echo "<table>\n";
		print_selection_form("figure_venn");
		echo "<tr><th>Covariates of stored QTL</th><td>";
		select_covariates_combinations(3);
		echo "<tr><td>&nbsp;</td><td></td></tr>\n";
		echo "<tr><td align=right><input type=submit></td>";
		echo "<td align=left><input type=reset>";
		echo "&nbsp;&nbsp;&nbsp;<input type=checkbox name=inlineImages value=1 />Inline Images";
		//echo "&nbsp;&nbsp;&nbsp;<input type=checkbox name=rerunAnalyses value=1 />Rerun previous analyses";
		echo "&nbsp;&nbsp;&nbsp;<input type=checkbox name=verbose value=1 />verbose";
		echo "</td></tr>\n";
		echo "</table>\n";

		if ("" == "this is not yet implemented") {
		  echo "</td>\n<td valign=top>";
		  select_from_public_qtls($linkLocal,TRUE);
		  echo "</td>";
		}
		echo "</tr>";
		echo "</table>";

		echo "</form>\n";

	}
	else {

		if (!empty($debug)) print_r($_POST);

		#
		# invocation of external R script
		#

		echo "cwd: " . getcwd() . "<br>\n";
		#print_r($_SERVER);

		if ($n>0) echo "<hr>";

		$attributes=array();

		$outputfilename = "tmp_images/venn_output";
		if (!empty($PvalueMin)) {
			$outputfilename .= "_PvalueMin_$PvalueMin";
			array_push($attributes,"--PvalueMin",$PvalueMin);
		}
		if (!empty($PvalueMax)) {
			$outputfilename .= "_PvalueMax_$PvalueMax";
			array_push($attributes,"--PvalueMax",$PvalueMax);
		}
		if (!empty($LODmin))    {
			$outputfilename .= "_LODmin_$LODmin";
			array_push($attributes,"--LODmin",$LODmin);
		}
		if (!empty($LODmax))    {
			$outputfilename .= "_LODmax_$LODmax";
			array_push($attributes,"--LODmax",$LODmax);
		}
		if (!empty($MeanMin))   {
			$outputfilename .= "_MeanMin_$MeanMin";
			array_push($attributes,"--MeanMin",$MeanMin);
		}
		if (!empty($MeanMax))   {
			$outputfilename .= "_MeanMax_$MeanMax";
			array_push($attributes,"--MeanMax",$MeanMax);
		}
		if (!empty($SdMin))     {
			$outputfilename .= "_SdMin_$SdMin";
			array_push($attributes,"--SdMin",$SdMin);
		}
		if (!empty($SdMax))     {
			$outputfilename .= "_SdMax_$SdMax";
			array_push($attributes,"--SdMax",$SdMax);
		}
		if (!empty($cistrans)) {
			array_push($attributes,"--cistrans",$cistrans);
			$outputfilename .= "_${cistrans}";
		}

		$rscript = getcwd() . "/../../scripts/analyses/createVenn.R";
		if (!file_exists($rscript)) {
		  errorMessage("R script '$rscript' not found.");
		}
		$cmd = "$rscript";
		$cmd .= " --format png";
		array_push($attributes,"--format","png");
		if (!empty($qtl_covariates)) {
		  $cmd .= " --covariates ".join(";",$qtl_covariates);
		  array_push($attributes,"--covariates",'"'.join(";",$qtl_covariates).'"');
		  $outputfilename .= "_cov_".join(";",$qtl_covariates);
		}
		if (!empty($verbose)) {
		  $cmd .= " --verbose";
		  array_push($attributes,"--verbose",1);
		}
		$cmd .= " --output \"$outputfilename\"";
		array_push($attributes,"--output",'"'.$outputfilename.'"');
		$cmd = "$rscript ".join(" ",$attributes);
		
		if ($verbose) {
			echo "<p>executing '$cmd'</p><br />\n";
		}
		
		$t =  shell_exec($cmd);

		if ($verbose) {
			echo "<p>";
			#print_r($attributes);
			echo "<small>$t</small>\n";
			echo "</p>\n";
		}

		echo "<h2>Created images</h2>\n";
		foreach (array(
			  "exact_trait" => "Locus and trait are compared by their exact syntactival identity, no shift in cM will be accepted",
			  "trait"=>"The locus is completely ignored, only the traits are compared that are controlled by any region anywhere in the genome with that covariate",
			  "flanking_trait"=>"The specification of chromosomal loci are weakened towards their flanking markers",
			  "flanking_trait_indiseaseqtl"=>"As before, the specification of loci are reduced to flanking markers, and only thoes are shown, that are located within classical QTL") as $s=>$t) {
			echo "<h3>$s</h3>\n";
			$imagePath=dirname($_SERVER["PHP_SELF"])."/${outputfilename}_${s}.png";
			if (!empty($inlineImages)) { echo "<IMG SRC=\"$imagePath\" HEIGHT=\"100%\">\n"; }
			echo "<a href=\"http:$imagePath\">${outputfilename}_${s}.png</a><br/>\n$t\n";
			echo "<hr>\n";
		}
	}
	include("footer.php");
?>
