#!/usr/bin/env r

TEMPLATEWARNINGHASH

doc <- "

=head1 NAME

evaluateQuery.R

=head1 SYNOPSIS

to be sourced without parameters from R shell

=head1 DESCRIPTION

This script is started to execute a varying number of
jobs during a time specified in hours. This maximum
time allowed (controlled by the executing environment)
is passed via the environment variable TIMEOUT.

The script is offered for download from execute hosts
for grid computing envrionments.

=cut

"

# Test if the package qtl is already installed 
# and install if not already present.
# a<-library()
# if ( ! "qtl" %in% a$results[,"Package"]) {
# 	install.packages("qtl")
# }

doc <- "

=head2 Preparation

The only non-standard library that is required for the execution
of these scripts is the R library I<qtl>, available from (http://www.rqtl.org).
It can by installed directly via CRAN (http://cran.r-project.org)
via the install.packages('qtl') command. Also, packages
for Debian and Ubuntu are available. The latest version should
be chosen, at least one greater than 1.09-43 to ensure
the coverage of X chromosomes.

Optionally, to render this script directly executable, please install the 'r'
script, which renders R scripts directly executable from the shell. 
The officla project (and Debian package) name is 'littler' (little R)
to avoid confusion with the R shell.

=cut

"
library(qtl)

doc <- "

=head1 ENVIRONMENT

=over 4

=item TIMEOUT

Number of hours that the script may be running until
it is (after completing a workunit) terminating itself.
The specification of this evalue ensures to the provider
of the the hardware that it will be free within a 
reasonable time frame without the need to kill any
processes. For the sharing of computational power among
users this variable is most beneficial to set.

=cut

"
timeout <- as.numeric(Sys.getenv("TIMEOUT"))
if (is.na(timeout)) {
	timeout <- RECALCTIMEOUT;
}


doc <- "

=item JOBNOMAX

Maximal number of jobs that may be executed until the script
terminates itself. The specification of this number is most beneficial 
for debugging purposes, but it also ensure that not too much
valuable information is stored with a single compute node.

=cut

"

jobCountMax <- as.numeric(Sys.getenv("JOBNOMAX"))
if (is.na(jobCountMax)) {
	jobCountMax <- -1;
}

doc <- "

=item ERRORCOUNTMAX

Maximal number of erroros that this R script shall be allowed
to experience consecutively before its execution will be stopped.
This comes handy when there are too many parallel processes requesting
information which provokes the job distributor to throw a timeout
at times.

=cut

"

errorCountMax <- as.numeric(Sys.getenv("ERRORCOUNTMAX"))
if (is.na(errorCountMax)) {
	errorCountMax <- 5;
}

doc <- "

=pod

=back

=cut

"


# specification of directory in which to store results
d <- "RECALCDIR"

if( !file.exists(d) ){dir.create(d);}

start <- Sys.time()

# unit in which to compare the time
u <- "hours"

# counter of jobs
jobCount<-0

# counter of consecutive errors
errorCount<-0

while( (-1 == jobCountMax || jobCount < jobCountMax) && (-1 == errorCountMax || errorCount < errorCountMax)
						     && (-1 == timeout || as.double(difftime(Sys.time(), start, unit=u))<timeout) ){
	jobCount<-jobCount+1
	cat(paste("Starting job #",jobCount," (max=",jobCountMax,") at delta time ",difftime(Sys.time(), start, unit=u),".\n",sep=""))
	a<-setdiff(ls(all=TRUE),c("d","u","timeout","start","jobCount","jobCountMax","errorCount","errorCountMax"))
	rm(list=a)
	url<-"URLWEBSITE/RECALCPATH?h=RECALCHOST&p=RECALCPORT&d=RECALCDIR"
	cat("Accessing ",url,"\n")
	try(b<-source(url))
	if (any(ls()=="b") && "completed"==b$value) {
		cat("Computation of job ",jobCount," completed successfully.\n")
		rm("b")
		errorCount<-0
	} else {
		cat("***** TECHNICAL FAILURE OF JOB #",jobCount," **** EXITING *******\n")
		if (any(ls()=="b")) {
			cat("b="); print(b)
			rm("b")
		}
		errorCount<-errorCount+1
	}
}

if(-1!=timeout && as.double(difftime(Sys.time(), start, unit=u))>=timeout) {
	cat("Running past max compute time of ",timeout," ",u,".\n")
}
cat("Performed on ",jobCount," jobs of max. ",jobCountMax,".\n",sep="")


doc <- "

=head1 SEE ALSO

=over 4

=item http://www.rqtl.org

Development of QTL analysis

=item http://www.nordugrid.org

Computational grid prepared to analyse expression QTL

=item http://eqtl.berlios.de

=back

=head1 AUTHORS

Jan Kolbaum,
Steffen ME<ouml>ller <moeller@inb.uni-luebeck.de>,
Ann-Kristin Grimm <grimm@inb.uni-luebeck.de>,
Benedikt Bauer <bauer@cls.uni-luebeck.de>

=head1 COPYRIGHT

University of LE<uuml>beck, 2008-2009

=cut

"

