#
TEMPLATEWARNINGHASH

doc <- "

=head1 NAME

evaluateQuery.R

=head1 SYNOPSIS

to be sourced without parameters from R shell

=head1 DESCRIPTION

This script is started to execute a varying number of
jobs during a time specified in hours and passed via the
environment variable TIMEOUT.

=head1 ENVIRONMENT

=over 4

=item TIMEOUT

Number of hours that the script may be running until
it is (after completing a workunit) terminating itself.

=item JOBNOMAX

Number of jobs that may be executed until the script
terminates itself.

=back

=head1 AUTHORS

Jan Kolbaum,
Steffen ME<ouml>ller <moeller@inb.uni-luebeck.de>,
Ann-Kristin Grimm <grimm@inb.uni-luebeck.de>,
Benedikt Bauer <bauer@cls.uni-luebeck.de>

=head1 COPYRIGHT

University of LE<uuml>beck, 2008-2009

=cut

"


# Test if the package qtl is already installed 
# and install if not already present.
# a<-library()
# if ( ! "qtl" %in% a$results[,"Package"]) {
# 	install.packages("qtl")
# }

# Load the library R/qtl (http://www.rqtl.org).
# It can by installed directly via CRAN (http://cran.r-project.org)
# via the install.packages("qtl") command. Also, packages
# for Debian and Ubuntu are available. The latest version should
# be chosen, at least one greater than 1.09-43 to ensure
# the coverage of X chromosomes.
library(qtl)

# It is beneficial to determine the maximal time that a job
# shall be eligible to compute.
timeout <- as.numeric(Sys.getenv("TIMEOUT"))
if (is.na(timeout)) {
	timeout <- RECALCTIMEOUT;
}

# It may be helpful to determine the maximal number
# of jobs that should be executed, also to ensure
# that this script eventually ends.
jobnomax <- as.numeric(Sys.getenv("JOBNOMAX"))
if (is.na(jobnomax)) {
	jobnomax <- -1;
}


# specification of directory in which to store results
d <- "RECALCDIR"

if( !file.exists(d) ){dir.create(d);}

start <- Sys.time()

# unit in which to compare the time
u <- "hours"

# counter of jobs
jobno<-0

while( (-1 == jobnomax || jobno < jobnomax) && (-1 == timeout || as.double(difftime(Sys.time(), start, unit=u))<timeout) ){
	jobno<-jobno+1
	cat(paste("Starting job #",jobno," (max=",jobnomax,") at delta time ",difftime(Sys.time(), start, unit=u),".\n",sep=""))
	a<-setdiff(ls(all=TRUE),c("d","u","timeout","start","jobno","jobnomax"))
	rm(list=a)
	url<-"URLWEBSITE/RECALCPATH?h=RECALCHOST&p=RECALCPORT&d=RECALCDIR"
	cat("Accessing ",url,"\n")
	try(b<-source(url))
	if (any(ls()=="b") && "completed"==b$value) {
		cat("Computation of job ",jobno," completed successfully.\n")
		rm("b")
	} else {
		cat("***** TECHNICAL FAILURE OF JOB #",jobno," **** EXITING *******\n")
		if (any(ls()=="b")) {
			cat("b="); print(b)
		}
		break;
	}
}

if(-1!=timeout && as.double(difftime(Sys.time(), start, unit=u))>=timeout) {
	cat("Running past max compute time of ",timeout," ",u,".\n")
}
cat("Performed on ",jobno," jobs of max. ",jobnomax,".\n",sep="")
