<html>
TEMPLATEWARNINGXML
<head>
<title>PROJECTTITLE</title>
        <link href="http://www.ihop-net.org/UniPub/html/css/general.css" rel="stylesheet" media="screen"/>
	<link href="http://www.ihop-net.org/UniPub/html/css/unipub_hop.css" rel="stylesheet" media="screen"/>
	<link href="COMMONPUBLICPORTAL/stylesheets/eqtl.css" rel="stylesheet" media="screen"/>
</head>
<body>
<table width="100%">
<tr>
<!-- <td align="center"><img src="URLPORTALROOT/PATHLOGOLEFTNORMAL" width=WIDTHLOGOLEFT ALT="Logo left"></td> -->
<td align="center"><img src="PATHLOGOLEFTNORMAL" width=WIDTHLOGOLEFT ALT="Logo left"></td>
<td align="center"><h1>PROJECTNAME - Technical Summary Page</h1></td>
<!-- <td align="center"><img src="PATHLOGORIGHTNORMAL" width=WIDTHLOGORIGHT ALT="Logo right"></td> -->
<td align="center"><img src="PATHLOGORIGHTLARGE" width=WIDTHLOGORIGHT ALT="Logo right"></td>
</table>
<hr>
<?php

$link = mysql_connect('DATABASEHOSTLOCAL', 'DATABASEEQTLUSER')
    or die("Could not connect ('DATABASEHOSTLOCAL', 'DATABASEEQTLUSER'): " . mysql_error());
    //or die("Could not connect: " . mysql_error());
mysql_select_db('DATABASEEQTLNAME') or die('Could not select database DATABASEEQTLNAME: '.mysql_error());

#
# STATUS INFO
#

include_once("eqtl/func_covariates.php");

echo "<table align=\"center\" border=\"0\" width=\"100%\">";
echo "<tr>";
echo "<th valign=top width = \"10\">";
echo "Calculations:";
echo "</th>";
echo "<td valign=top align=\"center\">";

$enter = !file_exists("status.txt");
if (!$enter) $enter=((time()-filemtime("status.txt"))>(60*1));

if ($enter) {
    if ($handle=@fopen("status.txt","w")) {
	$query="SELECT status,application,COUNT(*) as number "
	      . "FROM computation "
	      . "GROUP BY status,application ORDER BY number;";
	$result = mysql_query($query) or die('Query failed: ' . mysql_error());
	#$vals_single=array();
	fwrite($handle, "<table>");
	fwrite($handle, "<tr><th>status</th><th>application</th><th>jobs</th></tr>\n");
	while ($line = mysql_fetch_array($result, MYSQL_ASSOC)) {
		fwrite($handle, "<tr>");
		foreach ($line as $col_value) {
			if( !isset($col_value) || $col_value == '' ){ $col_value = 'none'; }
			#$vals_single[]=$col_value;
			fwrite($handle, "<td>$col_value</td>");
		}
		fwrite($handle, "</tr>\n");
	}
	fwrite($handle, "</table>\n");
	fclose($handle);
	mysql_free_result($result);
    }
    else {
	echo "<small>Could not create status.txt file.</small>";
    }
}

if( file_exists("status.txt") ){
	$data = file_get_contents("status.txt");
	echo $data;
}else{
	echo "Could not read status.txt. ";
	echo getcwd();
}

echo "<th valign=top>Resources:</th>\n";
echo "<td valign=top>";

if (file_exists("resources.txt")) {
	$data = file_get_contents("resources.txt");
	echo $data;
}
else {
	echo "Could not read resources.txt";
}
echo "</td>";
echo "<th valign=top>Work in progress:</th>\n";
echo "<td valign=top>";
	if (file_exists("progress.txt")) {
		$data = file_get_contents("progress.txt");
		echo $data;
	}
	else {
		echo "Could not read progess.txt";
	}
echo "<p>See <a href=\"URLSCMBROWSER\">URLSCMBROWSER</a> for a summary of the latest technical advances of the infrastructure.</p>";
echo "</td>\n";
echo "<th align=\"center\" valign=bottom width=\"50\">\n";
	#$last_modified = filemtime("status.txt");
	$last_modified = time();
echo "<small>".date( "F d Y h:i:s", $last_modified )."</th>";
echo "</th>\n";
echo "</TR>\n";
echo "</TABLE>\n";

?>
<hr>
<p class="block">
This page represents a mere technical assitance to the collaborators on this project for the determination
of expression QTL.  It is due to disappear once this poject has been completed.  The public should access the
data only via this project's <a href="URLPORTALROOT/index.php" target="_blank">eQTL portal</a>.
</p>

<table border="0" width="100%">
<tr><td width="50%">
<h2><a name="OneScan">Calculation of single QTL</a></h2>

<?php
$query = 'SELECT DISTINCT covariates FROM qtl ORDER BY covariates';
$result = mysql_query($query) or die('Query failed: ' . mysql_error());

$vals_single=array();
while ($line = mysql_fetch_array($result, MYSQL_ASSOC)) {
    foreach ($line as $col_value) {
	if( !isset($col_value) || $col_value == '' ){ $col_value = 'none'; }
	$vals_single[]=$col_value;
    }
}

mysql_free_result($result);

$query = 'SELECT DISTINCT covariates FROM locusInteraction ORDER BY covariates';
$result = mysql_query($query) or die('Query failed: ' . mysql_error());

$vals_interacting=array();
while ($line = mysql_fetch_array($result, MYSQL_ASSOC)) {
    foreach ($line as $col_value) {
	if( !isset($col_value) || $col_value == '' ){ $col_value = 'none'; }
	$vals_interacting[]=$col_value;
    }
}
mysql_free_result($result);
mysql_close($link);
?>

<?php
if (0<count($vals_single)) {
	echo "<b><i>Single QTLs with covariates in database:</i></b> <small>";
	$first=1;
	foreach ($vals_single as $vs) {
		if (!$first) {
			echo ";&nbsp; ";
		}
		else {
			$first=0;
		}
		echo "<a href=\"URLPORTALROOT/qtl.php?covariates=$vs\">".displayCovariates($vs)."</a>";
	}
	echo "</small><br>\n";
}
else {
	echo "<b><i>No QTLs currently in database.</i></b> ";
}
?>

</td><td valign=top>

<h2><a name="TwoScan">Calculation of interacting QTL</a></h2>

<?php
if (0<count($vals_interacting)) {
	echo "<b><i>Interacting QTLs with covariates in database:</i></b> ";
	$first=1;
	foreach ($vals_interacting as $vs) {
		if (!$first) {
			echo ", ";
		}
		else {
			$first=0;
		}
		if ("none" == "$vs") {
			echo "<a href=\"URLPORTALROOT/interaction.php?";
			$ffirst=1;
			foreach ($vals_single as $vss) {
				if(!$ffirst) {
					echo "&";
				}
				else {
					$ffirst=0;
				}
				$pair=preg_split("/_/","$vss");
				echo strtolower($pair[0])."[]=none";
			}
		}
		else {
			$pair=preg_split("/_/","$vs");
			echo "<a href=\"URLPORTALROOT/interaction.php?".strtolower($pair[0])."[]=".$pair[1];
		}
		echo "\">$vs</a>";
	}
	echo "<br>\n";
}
else {
	echo "<b><i>No interacting QTLs currently in database.</i></b> ";
}
?>

</td></tr>
</table>

<hr>
Contact <a href="mailto:MAINTAINEREMAIL">MAINTAINEREMAIL</a> for any arising issue or concern.
The latest source code is managed at <a href="URLSCMPROJECT">URLSCMPROJECT</a>, browsable under <a href="URLSCMBROWSER">this link</a>.
<hr>
<?php
require_once("eqtl/func_relatedProjects.php");
relatedProjects("");
?>
</body>
<html>
