#!/usr/bin/perl -w

TEMPLATEWARNINGHASH

=head1 NAME

=head1 SYNOPSIS

=head1 DESCRIPTION

=head1 AUTHORS

Jan Kolbaum
2008-09-12

=cut

use strict;
use FCGI;
use LWP::Simple;
#use CGI;
use CGI::Carp qw(fatalsToBrowser);

#start CGI and get parameter keys
#my $request = CGI->new;
#my @params = $request->param();
my $request = FCGI::Request();

#gobal prior known vraiables
my $genofile="PHENOFILE";		#the pheno-file
my $base="BASEDIR";			#base directory of this project
my $phenfile="GENOFILE";
my $csvdatas="CSVDATABASE";


while (FCGI::accept >= 0) {
	my @params = split(/&/, $ENV{'QUERY_STRING'});
	my $covar;
	foreach my $key (@params){
		if( $key =~ m/covar/ ){
			my @tmp = split(/=/,$key);
			$covar = $tmp[1];
		}
	}
	if( !defined($covar) ){
		if( defined(@ARGV) && $ARGV[0] =~ /covar/ ){
			$covar = $ARGV[0];
		}else{
			$covar = "SUM";
		}
	}

	open( GENO, "$base$csvdatas$genofile" ) or die "No such genofile $base$csvdatas$genofile: &!" ;
	open( PHENO, "$base$csvdatas$phenfile" ) or die "No such genofile $base$csvdatas$phenfile: &!" ;

	my $rowIndex = 0;
	my @line = split( /,/,<PHENO> );
	for( my $i=0; $i<$#line; $i++ ){
		if( $line[$i] =~ /$covar/ ){
			$rowIndex = $i;
			last;
		}
	}
	<PHENO>; <PHENO>; <PHENO>;

	print	"Content-type: text/plain\n\n";
	print	$content;
}
